{{ if .Values.tasks.settings.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pro-api.tasks-name" . }}-worker
  {{- with .Values.tasks.pod.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "pro-api.tasksWorkerLabels" . | nindent 4 }}
  {{- with .Values.tasks.pod.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.tasks.pod.workerReplicaCount }}
  revisionHistoryLimit: {{ .Values.tasks.pod.revisionHistoryLimit }}
  {{- if .Values.tasks.pod.strategy }}
  strategy:
    {{- toYaml .Values.tasks.pod.strategy | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "pro-api.tasksWorkerSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
      {{- with .Values.tasks.pod.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "pro-api.tasksWorkerLabels" . | nindent 8 }}
      {{- with .Values.tasks.pod.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.tasks.pod.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tasks.pod.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tasks.pod.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tasks.pod.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.tasks.pod.priorityClassName }}
      priorityClassName: {{ .Values.tasks.pod.priorityClassName }}
      {{- end }}
      {{- with .Values.tasks.pod.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.tasks.pod.terminationGracePeriodSeconds }}
      serviceAccountName: {{ include "pro-api.service-account-name" . }}
      volumes:
        - name: temp-volume
          emptyDir: {}
      containers:
        - name: {{ include "pro-api.tasks-name" . }}
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" $.Values.dgctlDockerRegistry }}/{{ .Values.tasks.image.repository }}:{{ .Values.tasks.image.tag }}
          imagePullPolicy: {{ .Values.tasks.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.tasks.settings.httpPort }}
              protocol: TCP
          volumeMounts:
            - mountPath: {{ .Values.tasks.settings.tempPath | quote }}
              name: temp-volume
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            failureThreshold: 5
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          startupProbe:
            httpGet:
              path: /health/live
              port: http
            failureThreshold: 20
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.tasks.pod.resources | nindent 12 }}
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 5"]
          env:
            - name: ENV
              value: {{ .Values.tasks.settings.env | quote }}
            - name: TEMP_PATH
              value: {{ .Values.tasks.settings.tempPath | quote }}
            - name: Postgres__ConnectionString
              value: {{ include "pro-tasks.connectionString" . }}
            - name: Postgres__ConnectionStringReadonly
              value: {{ include "pro-tasks.connectionStringReadOnly" . }}
            - name: Postgres__Password
              valueFrom:
                secretKeyRef:
                  key: tasksDbConnectionPwd
                  name: {{ include "pro-api.name" . }}-secret
            {{- if .Values.postgres.tasks.ro.password }}
            - name: Postgres__PasswordRo
              valueFrom:
                secretKeyRef:
                  key: tasksDbConnectionPwdRo
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}

            - name: FeatureManagement__AssetDataPreparation
              value: {{ $.Values.tasks.settings.features.assetDataPreparation.enabled | quote }}
            - name: FeatureManagement__AuditLogging
              value: {{ $.Values.tasks.settings.features.auditLogging.enabled | quote }}
            - name: FeatureManagement__CleanCitylensFrames
              value: {{ $.Values.tasks.settings.features.cleanCitylensFrames.enabled | quote }}
            - name: FeatureManagement__RemoveUnusedUserAssetFiles
              value: {{ $.Values.tasks.settings.features.removeUnusedUserAssetFiles.enabled | quote }}
            - name: FeatureManagement__EmailNotifications
              value: {{ $.Values.tasks.settings.features.emailNotifications.enabled | quote }}
            - name: FeatureManagement__UserManagement
              value: {{ $.Values.tasks.settings.features.userManagement.enabled | quote }}
            - name: FeatureManagement__RemoveExpiredSmbDashboards
              value: {{ $.Values.tasks.settings.features.removeExpiredSmbDashboards.enabled | quote }}

            - name: Common__Logging__Format
              value: {{ .Values.tasks.settings.logging.format | quote }}
            - name: Kafka__BootstrapServers
              value: {{ $.Values.kafka.bootstrapServers }}
            - name: Kafka__SecurityProtocol
              value: {{ $.Values.kafka.securityProtocol }}
            - name: Kafka__SaslMechanism
              value: {{ $.Values.kafka.sasl.mechanism }}
            - name: Kafka__SaslUsername
              value: {{ $.Values.kafka.sasl.username }}
            {{ if .Values.kafka.sasl.password }}
            - name: Kafka__SaslPassword
              valueFrom:
                secretKeyRef:
                  key: kafkaSaslPassword
                  name: {{ include "pro-api.name" . }}-secret
            {{ end }}
            - name: Kafka__EventsTopicSettings__Name
              value: {{ required "A valid .Values.kafka.eventsTopic.name entry required" $.Values.kafka.eventsTopic.name }}
            - name: Kafka__EventsTopicSettings__ReaderGroupId
              value: {{ required "A valid .Values.kafka.eventsTopic.readerGroupId entry required" $.Values.kafka.eventsTopic.readerGroupId }}
            - name: Kafka__UseReplicaTopics
              value: {{ $.Values.kafka.useReplicaTopics | quote }}
            - name: Common__Mode
              value: "Worker"
            - name: Common__Worker__ResourceIntensiveTasksWorkersCount
              value: {{ $.Values.tasks.settings.worker.resourceIntensiveTasksWorkersCount | quote }}
            - name: Common__Worker__DefaultWorkersCount
              value: {{ $.Values.tasks.settings.worker.regularTasksWorkersCount | quote }}
            - name: Common__Worker__LongRunningTasksWorkersCount
              value: {{ $.Values.tasks.settings.worker.longRunningTasksWorkersCount | quote }}

            {{- range $i, $s := $.Values.elastic.nodes}}
            - name: Elastic__Nodes__{{$i}}__Host
              value: {{ $s.host }}
            - name: Elastic__Nodes__{{$i}}__Port
              value: {{ $s.port | quote }}
            {{ end }}

            - name: Elastic__Secure
              value: {{ $.Values.elastic.secure | quote }}
            - name: Elastic__Username
              value: {{ $.Values.elastic.username | quote }}
            {{ if .Values.elastic.password }}
            - name: Elastic__Password
              valueFrom:
                secretKeyRef:
                  key: esPassword
                  name: {{ include "pro-api.name" . }}-secret
            {{ end }}
            - name: Elastic__IndexPrefix
              value: {{ $.Values.elastic.indexPrefix | quote }}
            - name: Elastic__EnableHttpCompression
              value: {{ $.Values.elastic.enableHttpCompression | quote }}

            - name: Digger__Url
              value: {{ .Values.digger.url | quote }}
            {{ if .Values.digger.authToken }}
            - name: Digger__AuthToken
              valueFrom:
                secretKeyRef:
                  key: diggerAuthToken
                  name: {{ include "pro-api.name" . }}-secret
            {{ end }}

            - name: S3Settings__Url
              value: {{ required "A valid .Values.dgctlStorage.host entry required" $.Values.dgctlStorage.host }}
            - name: S3Settings__Secure
              value: {{ .Values.dgctlStorage.secure | quote }}
            - name: S3Settings__Region
              value: {{ .Values.dgctlStorage.region }}
            - name: S3Settings__DisablePayloadSigning
              value: {{ .Values.dgctlStorage.disablePayloadSigning | quote }}
            - name: S3Settings__AssetDataBucket
              value: {{ required "A valid .Values.s3.assetsDataBucket entry required" $.Values.s3.assetsDataBucket }}
            - name: S3Settings__UserAssetDataBucket
              value: {{ required "A valid .Values.s3.userAssetsDataBucket entry required" $.Values.s3.userAssetsDataBucket }}
            - name: S3Settings__LayerDataBucket
              value: {{ required "A valid .Values.s3.layerDataBucket entry required" $.Values.s3.layerDataBucket }}
            - name: S3Settings__SnapshotBucket
              value: {{ required "A valid .Values.s3.snapshotBucket entry required" $.Values.s3.snapshotBucket }}
            - name: S3Settings__ResourcesBucket
              value: {{ required "A valid .Values.s3.resourcesBucket entry required" $.Values.s3.resourcesBucket }}
            - name: S3Settings__AccessKey
              valueFrom:
                secretKeyRef:
                  key: s3AccessKey
                  name: {{ include "pro-api.name" . }}-secret
            - name: S3Settings__SecretKey
              valueFrom:
                secretKeyRef:
                  key: s3SecretKey
                  name: {{ include "pro-api.name" . }}-secret
            - name: GeoApi__Url
              value: http://{{ include "pro-api.name" . }}
            - name: GeoApi__Key
              valueFrom:
                secretKeyRef:
                  key: apiKey
                  name: {{ include "pro-api.name" . }}-secret
            - name: Common__DataCenterId
              value: {{ .Values.api.settings.dataCenterId | quote }}

            - name: PermissionsApi__Url
              value: {{ include "pro-api.permissions-url" . }}
            {{- if .Values.permissions.settings.auth.apiKey }}
            - name: PermissionsApi__Key
              valueFrom:
                secretKeyRef:
                  key: permissionsApiKey
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}
            {{- if .Values.tasks.settings.features.assetDataPreparation.enabled }}
            - name: AssetDataPreparation__Segments
              value: {{ .Values.tasks.settings.features.assetDataPreparation.segments | quote }}
            {{- end }}

            - name: MailerAdminClient__Enabled
              value: {{ .Values.mailerAdmin.enabled | quote }}
            - name: MailerAdminClient__Url
              value: {{ .Values.mailerAdmin.url | quote }}
            - name: MailerAdminClient__Username
              value: {{ .Values.mailerAdmin.username | quote }}
            - name: MailerAdminClient__Password
              value: {{ .Values.mailerAdmin.password | quote }}
            - name: MailerSenderClient__Enabled
              value: {{ .Values.mailerSender.enabled | quote }}
            - name: MailerSenderClient__Url
              value: {{ .Values.mailerSender.url | quote }}
            - name: MailerSenderClient__ApiKey
              value: {{ .Values.mailerSender.apiKey | quote }}
{{- end }}
