global:
  security:
    allowInsecureImages: true

image:
  repository: bitnamilegacy/postgresql

architecture: "standalone"

primary:
  resources:
    requests:
      cpu: 40m
      memory: 400Mi
    limits:
      cpu: 2
      memory: 4Gi
  persistence:
    enabled: true
    size: 8Gi
    storageClass: "standard"
