{{- define "generic-chart.hpa.tpl" -}}
{{ $ctx := . }}
{{- $hpa := (.Values.hpa | default dict) -}}
{{ $enabled := (hasKey $hpa "enabled") | ternary $hpa.enabled true }}
{{- if $enabled }}
apiVersion: {{ include "generic-chart.capabilities.hpa.apiVersion" . }}
kind: HorizontalPodAutoscaler
metadata:
  name: {{ include "generic-chart.fullname" . }}
  labels:
    {{- include "generic-chart.labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ include "generic-chart.fullname" . }}
  minReplicas: {{ default 1 (.Values.hpa).minReplicas }}
  maxReplicas: {{ default 2 (.Values.hpa).maxReplicas }}
  behavior:
    {{- if (.Values.hpa).scaleUp }}
    scaleUp:
      {{- include "tplvalues.render" (dict "value" (.Values.hpa).scaleUp "context" $ctx) | nindent 8 }}
    {{- end }}
    {{- if (.Values.hpa).scaleDown }}
    scaleDown:
      {{- include "tplvalues.render" (dict "value" (.Values.hpa).scaleDown "context" $ctx) | nindent 8 }}
    {{- end }}
  metrics:
    {{- if or (not (hasKey .Values "hpa")) ((.Values.hpa).targetCPUUtilizationPercentage) }}
    - {{- include "generic-chart.capabilities.hpa.type" . | nindent 6 }}
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ default 80 (.Values.hpa).targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if (.Values.hpa).targetMemoryUtilizationPercentage }}
    - {{- include "generic-chart.capabilities.hpa.type" . | nindent 6 }}
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ (.Values.hpa).targetMemoryUtilizationPercentage }}
    {{- end }}
{{- end }}
{{- end }} {{- /* define */}}
