{{- define "generic-chart.job_spec.tpl" -}}
{{ $ctx := .ctx }}
{{ $job := .job }}
spec:
  {{- if "activeDeadlineSeconds" | hasKey $job }}
  activeDeadlineSeconds: {{ ($job).activeDeadlineSeconds }}
  {{- end }}
  {{- if "ttlSecondsAfterFinished" | hasKey $job }}
  ttlSecondsAfterFinished: {{ ($job).ttlSecondsAfterFinished }}
  {{- end }}
  {{- if "backoffLimit" | hasKey $job }}
  backoffLimit: {{ ($job).backoffLimit }}
  {{- end }}
  {{- if "backoffLimitPerIndex" | hasKey $job }}
  backoffLimitPerIndex: {{ ($job).backoffLimitPerIndex }}
  {{- end }}
  {{- if "podFailurePolicy" | hasKey $job }}
  podFailurePolicy: {{ ($job).podFailurePolicy }}
  {{- end }}
  {{- if "completions" | hasKey $job }}
  completions: {{ ($job).completions }}
  {{- end }}
  {{- if "completionMode" | hasKey $job }}
  completionMode: {{ ($job).completionMode }}
  {{- end }}
  {{- if "parallelism" | hasKey $job }}
  parallelism: {{ ($job).parallelism }}
  {{- end }}
  template:
    {{- include "generic-chart.pod_spec.tpl" $ctx | nindent 4 }}
      {{- with ($job).restartPolicy }}
      restartPolicy: {{ . }}
      {{- end }}{{- /* restartPolicy */}}
{{- end }}
