# License override for the `sandbox` (kind) environment.
# License key comes from environments/sandbox.yaml.gotmpl (license.key).
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 250m
    memory: 128Mi
