cassandra:
  environment: 'sandbox'
  hosts:
    - 'cassandra'
  replicaFactor: 1

importer:
  enabled: true
  workerNum: 1
  writerNum: 1

api:
  replicaCount: 1
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 2
      memory: 2Gi
