cassandra:
  environment: 'stg' # TODO
  hosts:
    - 'cassandra-1' # TODO
  replicaFactor: 1
  credentials:
    user: cassandra
    jmxUser: cassandra

proxy:
  access:
    enabled: true
    syncPeriod: 2m

importer:
  enabled: true
  workerNum: 3
  writerNum: 3
