api:
  replicas: 1
  oidc:
    enabled: false
    enableSinglePartnerMode: true
    enableExternalProvider: true
    url: http://{{ .Values.keycloakIngress }}/realms/Platform
    retryCount: 3
    timeout: 3s
    defaultPartner:
      id: 1
      name: 'Test Default Partner'
      role: admin
  resources:
    requests:
      cpu: 10m
      memory: 20Mi
    limits:
      cpu: 100m
      memory: 128Mi

admin:
  resources:
    requests:
      cpu: 10m
      memory: 140Mi
    limits:
      cpu: 100m
      memory: 192Mi

serviceApi:
  resources:
    requests:
      cpu: 10m
      memory: 56Mi
    limits:
      cpu: 1
      memory: 256Mi

tasker:
  resources:
    requests:
      cpu: 10m
      memory: 48Mi
    limits:
      cpu: 100m
      memory: 64Mi

counter:
  resources:
    requests:
      cpu: 10m
      memory: 20Mi
    limits:
      cpu: 1
      memory: 512Mi
