api:
  # replicas: see chart defaults
  # replicas: 1
  oidc:
    enabled: false # TODO для citylens и platform
    enableSinglePartnerMode: true # TODO
    enableExternalProvider: true # TODO
    url: https://{{ .Values.keycloakIngress }}/realms/Platform # TODO
    issuerUrl: '' # TODO
    retryCount: 3
    timeout: 3s
    defaultPartner:
      id: 1 # TODO
      name: 'Test Default Partner' # TODO
      role: admin # TODO
