{{- if .Values.kafka.truststore.createSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.kafka.truststore.secretName }}
  labels: {{ include "stat-receiver-secret.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.kafka.truststore.storeFieldName }}: {{ .Values.kafka.truststore.storeData | quote }}
  {{ .Values.kafka.truststore.storePasswordFieldName }}: {{ .Values.kafka.truststore.storePassword | b64enc | quote }}
{{- end }}
{{- if .Values.kafka.keystore.createSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.kafka.keystore.secretName }}
  labels: {{ include "stat-receiver-secret.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.kafka.keystore.storeFieldName }}: {{ .Values.kafka.keystore.storeData | quote }}
  {{ .Values.kafka.keystore.storePasswordFieldName }}: {{ .Values.kafka.keystore.storePassword | b64enc | quote }}
{{- end }}
{{- if eq (.Values.kafka.sasl.secretName | len) 0 }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "stat-receiver-api.name" . }}-sasl
  labels: {{ include "stat-receiver-secret.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.kafka.sasl.jaasFieldName }}: {{ printf "%s required username=\"%s\" password=\"%s\";" .Values.kafka.sasl.jaasLoginModule (required "A valid .Values.kafka.sasl.username entry required" .Values.kafka.sasl.username) (required "A valid .Values.kafka.sasl.password entry required" .Values.kafka.sasl.password) | b64enc | quote }}
{{- end }}
