keys:
  token: 'c3cc77c8-f76f-44bc-82e8-b278f8d40b55' # predefined.service: static-api

api:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi
