# replicas: see chart defaults
# replicas: 1

# resources: see chart defaults
# resources:
#   requests:
#     cpu: 400m
#     memory: 128Mi
#   limits:
#     cpu: 700m
#     memory: 256Mi

strategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
