replicaCount: 1
 
dm:
  citiesUrl: http://navi-castle/cities.conf
   
keys:
  host: http://keys-api/service/v1/keys

resources:
  limits:
    cpu: 2000m
    memory: 4Gi
  requests:
    cpu: 2000m
    memory: 4Gi

