external_hostname: gis-platform
external_proto: https

ingress:
  enabled: false
  className: nginx
  annotations: {}
  hosts:
  - host: gis-platform.local
  tls: []

spcore:
  replicaCount: 1
  resources:
    requests:
      cpu: 800m
      memory: 4096Mi
    limits:
      cpu: 800m
      memory: 4096Mi
  service: {}
  debug_mode: false
  reset_cluster: false
  update_db: true
  terminationGracePeriodSeconds: 60
  image:
    repository: 2gis-on-premise/gis_platform_spcore
    tag: 2022-04-13.01
  cors:
    allow_everyone: false
    origins: []
  s3:
    access_key: ''
    secret_key: ''
    host: s3.example.com
    region: US
    bucket: spstatic
    preview_bucket: sppreview
  pg:
    host: localhost
    port: 5432
    user: gisadmin
    password: dbpass
    dbname: gis-platform
    poolsize: 25
  admin:
    email: admin@example.com
    password: '123456'
  jwt:
    token_key: supersecrettoken
    token_admin: supersecrettoken
  catalog:
    url: https://catalog.api.2gis.com
    key: ''
  navi:
    url: https://catalog.api.2gis.com
  cloud_port: 5050
  http_port: 5051
  maxRenderTargets: 1000
  defaultLimits:
    tables: 500
    layers: 500
    projects: 1000
    features: 1000000
  startupProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    failureThreshold: 30
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 5
    failureThreshold: 3

portal:
  replicaCount: 1
  service:
    type: ClusterIP
    port: 80
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 100m
      memory: 512Mi
  terminationGracePeriodSeconds: 60
  websocket:
    timeout: 604800
  cache:
    enabled: false
    size: 1G
    valid: 1m
    regex:
    - ^/sp/wms.*layers=admin.satellite_imagery&.*$
    - ^/sp/wms.*layers=admin.2gis&.*$
  s3proxy:
    enabled: false
    scheme: http
  image:
    repository: 2gis-on-premise/gis_platform_portal
    tag: '2022-04-13'

zookeeper:
  image:
    repository: 2gis-on-premise/zookeeper
    tag: 3.7.0-debian-10-r265
  pdb:
    create: true
    maxUnavailable: 1
  replicaCount: 3
  persistence:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 200m
      memory: 512Mi
