---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: citylens-routes-ui
    chart: {{ .Values.chartLocation }}/citylens-routes-ui
    version: {{ .Values.versionCitylens }}
    namespace: {{ .Values.namespace  }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: citylens
      service: citylens-routes-ui
    values:
      - {{ .Values.basePath }}/../dgctl/auto_values/citylens/general.yaml
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/ingressAnnotations.yaml.gotmpl
      - {{ .Values.valuesPath }}/values/ingressAnnotations/{{ .Environment.Name }}.yaml.gotmpl
      - {{ .Values.basePath }}/values/citylens/citylens-routes-ui.yaml.gotmpl
      - {{ .Values.valuesPath }}/values/citylens/citylens-routes-ui/{{ .Environment.Name }}.yaml.gotmpl
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPath := printf "%s/hooks/citylens/citylens-routes-ui/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
