kafka:
  solver:
    properties:
      bootstrap.servers: kafka-controller-headless:9092
      security.protocol: SASL_PLAINTEXT
      sasl.mechanism: SCRAM-SHA-512
      sasl.plain.username: admin
  dm:
    properties:
      bootstrap.servers: kafka-controller-headless:9092
      security.protocol: SASL_PLAINTEXT
      sasl.mechanism: SCRAM-SHA-512
      sasl.plain.username: admin

s3:
  url: http://s3.sandbox
  publicUrl: http://s3.sandbox
  vrp:
    bucket: sandbox-navi-vrp
    accessKey: {{ .Values.dgctlStorage.accessKey }}
    secretKey: {{ .Values.dgctlStorage.secretKey }}

db:
  host: postgresql
  port: 5432
  name: vrp
  user: vrp

stat:
  enabled: true
  url: 'http://stat-receiver-api/bss/3'

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    cpu: 1
    memory: 1Gi
