keys:
  apis:
    routing-api: '' # TODO
    comboroutes-api: '' # TODO
    directions-api: '' # TODO
    distance-matrix-api: '' # TODO
    freeroam-api: '' # TODO
    isochrone-api: '' # TODO
    map-matching-api: '' # TODO
    pairs-directions-api: '' # TODO
    ppnot-api: '' # TODO
    public-transport-api: '' # TODO
    truck-directions-api: '' # TODO
    truck-distance-matrix-api: '' # TODO
