kafka:
  properties:
    bootstrap.servers: kafka.host:9092 # TODO
    security.protocol: SASL_PLAINTEXT # TODO
    sasl.mechanism: SCRAM-SHA-512 # TODO
    sasl.username: test-username # TODO
    sasl.password: '123' # TODO

s3:
  host: http://s3.host # TODO
  bucket: navi-async # TODO
  accessKey: accessKey # TODO
  secretKey: secretKey # TODO
  expirationDays: 3
