---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: {{ .Values.releasePrefix }}pro-ui
    chart: {{ .Values.chartLocation }}/pro-ui
    version: {{ .Values.versionPro }}
    namespace: {{ .Values.namespace  }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: pro
      service: pro-ui
    values:
      - {{ .Values.basePath }}/../dgctl/auto_values/pro/general.yaml
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/ingressAnnotations.yaml.gotmpl
{{- $vp1 := printf "%s/values/ingressAnnotations/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp1 }}
      - {{ $vp1 }}
{{- end }}
      - {{ .Values.basePath }}/values/pro/pro-ui.yaml.gotmpl
{{- $dep := printf "%s/values/pro/pro-ui/_common.yaml.gotmpl" .Values.valuesPath -}}
{{- if isFile $dep }}
      - {{ $dep }}
{{- end }}
{{- $vp2 := printf "%s/values/pro/pro-ui/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp2 }}
      - {{ $vp2 }}
{{- end }}
{{- $secretsPath := printf "%s/values/pro/pro-ui/%s.secrets.yaml" .Values.valuesPath .Environment.Name -}}
{{- if isFile $secretsPath }}
    secrets:
      - {{ $secretsPath }}
{{- end }}
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPath := printf "%s/hooks/pro/pro-ui/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
