manifest-path: {{ required "Valid .Values.dgctlStorage.manifest required!" .Values.dgctlStorage.manifest }}
migrations-path: "/migrations"
workers: {{ .Values.importer.workerNum }}
force-import: {{ .Values.importer.forceImport }}
clear-snapshots: {{ .Values.importer.clearSnapshots }}
cassandra-hosts-clock-time-check-limit: {{ .Values.importer.cassandraHostsClockTimeCheckLimit }}

tls:
  enabled: {{ $.Values.cassandra.tls.enabled }}
  enable-host-verification: {{ $.Values.cassandra.tls.enableHostVerification }}
{{- if $.Values.cassandra.tls.deploySecret }}
{{- if $.Values.cassandra.tls.ca }}
  ca-path: /tls/ca.crt
{{- end }}
{{- if $.Values.cassandra.tls.cert }}
  cert-path: /tls/client.crt
{{- end }}
{{- if $.Values.cassandra.tls.key }}
  key-path: /tls/client.key
{{- end }}
{{- end }}

storage:
  host: {{ required "Valid .Values.dgctlStorage.host required!" .Values.dgctlStorage.host }}
  secure: {{ .Values.dgctlStorage.secure }}
  bucket: {{ required "Valid .Values.dgctlStorage.bucket required!" .Values.dgctlStorage.bucket }}
  region: {{ .Values.dgctlStorage.region }}
  url-lifetime-period: 60m

k8s:
  job-template-file-path: /config/job.yaml
  {{- with .Values.importer }}
  worker-image: {{ required "A valid .Values.dgctlDockerRegistry entry required" $.Values.dgctlDockerRegistry }}/{{ .image.repository }}:{{ .image.tag }}
  retry-interval: {{ .retryInterval }}
  retry-count: {{ .retryCount }}
  {{- end }}
  namespace: {{ .Release.Namespace }}

cleaner:
  limit: {{ .Values.importer.cleaner.limit }}

worker:
  temp-dir: /tmp
  writer-num: {{ .Values.importer.writerNum }}

log-level: {{ .Values.importer.logLevelOverride | default .Values.logLevel | default "info" }}
log-format: {{ .Values.importer.logFormatOverride | default .Values.logFormat | default "json" }}
