---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: keycloak
    chart: {{ .Values.chartLocation }}/keycloak
    version: {{ .Values.versionCore }}
    namespace: {{ .Values.namespace  }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: core
      service: keycloak
    values:
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/ingressAnnotations.yaml.gotmpl
{{- $vp1 := printf "%s/values/ingressAnnotations/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp1 }}
      - {{ $vp1 }}
{{- end }}
      - {{ .Values.basePath }}/values/core/keycloak.yaml.gotmpl
{{- $vp2 := printf "%s/values/core/keycloak/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp2 }}
      - {{ $vp2 }}
{{- end }}
{{- $secretsPath := printf "%s/values/core/keycloak/%s.secrets.yaml" .Values.valuesPath .Environment.Name -}}
{{- if isFile $secretsPath }}
    secrets:
      - {{ $secretsPath }}
{{- end }}
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPath := printf "%s/hooks/core/keycloak/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
