---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: license
    chart: {{ .Values.chartLocation }}/license
    namespace: {{ .Values.namespace  }}
    version: {{ .Values.versionCore }}
    missingFileHandler: Warn
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: core
      service: license
    values:
      - {{ .Values.basePath }}/../dgctl/auto_values/core/general.yaml
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/core/license.yaml.gotmpl
      - {{ .Values.valuesPath }}/values/core/license/{{ .Environment.Name }}.yaml.gotmpl
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPath := printf "%s/hooks/core/license/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
