apiVersion: v1
kind: Secret
metadata:
  name: {{ include "citylens-ui.name" . }}-secret
type: Opaque
data:
  CATALOG_API_KEY: {{ required "Valid .Values.env.CATALOG_API_KEY required!" .Values.env.CATALOG_API_KEY | b64enc }}
  MAPGL_KEY: {{ required "Valid .Values.env.MAPGL_KEY required!" .Values.env.MAPGL_KEY | b64enc }}
  SSO_CLIENT_SECRET: {{ required "Valid .Values.env.SSO_CLIENT_SECRET required!" .Values.env.SSO_CLIENT_SECRET | b64enc }}
