replicaCount: 1

api:
  resources:
    requests:
      cpu: 200m
      memory: 1G
    limits:
      cpu: 5
      memory: 3G
  configOpt:
    - "<threads_per_request>2</threads_per_request>"

nginx:
  resources:
    requests:
      cpu: 50m
      memory: 100M
    limits:
      cpu: 500m
      memory: 500M

strategy:
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
