
naviCastleHost: {{ .Values.releasePrefix }}navi-castle

api:
  key: {{ .Values.key }}
  debug: false
  isInitDb: true
  ingress:
    enabled: true
    className: {{ .Values.ingressClassName }}
    hosts:
      - host: {{ .Values.naviRestrictionsIngress }}
        paths:
          - path: /
            pathType: Prefix
    {{- if .Values.ingressTls }}
    tls:
      - hosts:
          - {{ .Values.naviRestrictionsIngress }}
        secretName: {{ .Values.tlsSecret }}
    {{- end }}

# Syncer
cron:
  enabled: true
  schedule: '1 * * * *'
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
