initializeTopics:
  enabled: true

topicsPrefix: "stat.{{ .Environment.Name }}."

ingress:
  className: {{ .Values.ingressClassName }}
  enabled: true
  hosts:
  - host: {{ .Values.statReceiverIngress }}
    paths:
    - path: /
      pathType: Prefix
  {{- if .Values.ingressTls }}
  tls:
  - hosts:
    - {{ .Values.statReceiverIngress }}
    secretName: {{ .Values.tlsSecret }}
  {{- end }}
