s3:
  publicDomain: {{ .Values.s3ProxyStylesIngress }}
  bucket: {{ .Environment.Name }}-styles
  accessKey: {{ .Values.dgctlStorage.accessKey }}
  secretKey: {{ .Values.dgctlStorage.secretKey }}

api:
  ingress:
    enabled: true
    className: {{ .Values.ingressClassName }}
    annotations:
    {{- if eq .Values.ingressController "nginx" }}
      {{- $annotations := pick .Values.ingressAnnotations.nginx "cors" "proxy" -}}
      {{- $result := dict -}}
      {{- range $_, $value := $annotations }}
        {{- $result = merge $result $value -}}
      {{- end }}
      {{- $result | toYaml | nindent 6 }}
    {{- else if eq .Values.ingressController "traefik" }}
      {{- $annotations := pick .Values.ingressAnnotations.traefik "cors" "proxy" -}}
      {{- $middlewares := join "," (sortAlpha (values $annotations)) -}}
      {{- dict "traefik.ingress.kubernetes.io/router.middlewares" $middlewares | toYaml | nindent 6 }}
    {{- else }}
      {}
    {{- end }}
    hosts:
    - host: {{ .Values.stylesIngress }}
      paths:
      - path: /
        pathType: Prefix
    {{- if .Values.ingressTls }}
    tls:
    - hosts:
      - {{ .Values.stylesIngress }}
      secretName: {{ .Values.tlsSecret }}
    {{- end }}

log:
  level: info #  Possible values: `debug`, `info`, `warn`, `error`, `fatal`.
