api:
  resources:
    limits:
      cpu: 250m
      memory: 256Mi
    requests:
      cpu: 50m
      memory: 64Mi
  ingress:
    enabled: true
    className: {{ .Values.ingressClassName }}
    annotations:
    {{- if eq .Values.ingressController "nginx" }}
      {{- $annotations := pick .Values.ingressAnnotations.nginx "cors" -}}
      {{- $result := dict -}}
      {{- range $_, $value := $annotations }}
        {{- $result = merge $result $value -}}
      {{- end }}
      {{- $result | toYaml | nindent 6 }}
    {{- else if eq .Values.ingressController "traefik" }}
      {{- $annotations := pick .Values.ingressAnnotations.traefik "cors" -}}
      {{- $middlewares := join "," (sortAlpha (values $annotations)) -}}
      {{- dict "traefik.ingress.kubernetes.io/router.middlewares" $middlewares | toYaml | nindent 6 }}
    {{- else }}
      {}
    {{- end }}
    hosts:
    - host: {{ .Values.tilesRasterIngress }}
      paths:
      - path: /
        pathType: Prefix
    {{- if .Values.ingressTls }}
    tls:
    - hosts:
      - {{ .Values.tilesRasterIngress }}
      secretName: {{ .Values.tlsSecret }}
    {{- end }}

importer:
  resources:
    limits:
      cpu: 1000m
      memory: 512Mi
    requests:
      cpu: 50m
      memory: 128Mi
