# @section Docker Registry settings

# @param dgctlDockerRegistry Docker Registry endpoint where On-Premise services' images reside. Format: `host:port`.

dgctlDockerRegistry: ''


# @section Common settings

# @param replicaCount A replica count for the pod.
# @param imagePullSecrets Kubernetes image pull secrets.
# @param nameOverride Base name to use in all the Kubernetes entities deployed by this chart.
# @param fullnameOverride Base fullname to use in all the Kubernetes entities deployed by this chart.
# @param podAnnotations Kubernetes [pod annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/).
# @param podLabels Kubernetes [pod labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/).
# @param annotations Kubernetes [annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/).
# @param labels Kubernetes [labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/).
# @param podSecurityContext Kubernetes [pod security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/).
# @param securityContext Kubernetes [security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/).
# @param nodeSelector Kubernetes [node selectors](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector).
# @param tolerations Kubernetes [tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/) settings.
# @param affinity Kubernetes pod [affinity settings](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity).
# @param priorityClassName Kubernetes [pod priority](https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/).
# @param terminationGracePeriodSeconds Kubernetes [termination grace period](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/).
# @param prometheusEnabled If Prometheus scrape is enabled.
# @param livenessProbe.enabled Enable livenessProbe.
# @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe.
# @param livenessProbe.periodSeconds Period seconds for livenessProbe.
# @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe.
# @param livenessProbe.failureThreshold Failure threshold for livenessProbe.
# @param readinessProbe.enabled Enable readinessProbe.
# @param readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe.
# @param readinessProbe.periodSeconds Period seconds for readinessProbe.
# @param readinessProbe.timeoutSeconds Timeout seconds for readinessProbe.
# @param readinessProbe.failureThreshold Failure threshold for readinessProbe.
# @param customLivenessProbe Override default liveness probe.
# @param customReadinessProbe Override default readiness probe.

replicaCount: 1
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podLabels: {}
annotations: {}
labels: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
tolerations: []
affinity: {}
priorityClassName: ''
terminationGracePeriodSeconds: 60
prometheusEnabled: true
livenessProbe:
  enabled: true
  initialDelaySeconds: 20
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 5
readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 3
  failureThreshold: 3
customLivenessProbe: {}
customReadinessProbe: {}


# @section Deployment settings

# @param image.repository Repository
# @param image.tag Tag
# @param image.pullPolicy Pull Policy

image:
  repository: 2gis-on-premise/navi-async-matrix
  pullPolicy: IfNotPresent
  tag: 1.19.3


# @section Service account settings

# @param serviceAccount.create Specifies whether a service account should be created.
# @param serviceAccount.annotations Annotations to add to the service account.
# @param serviceAccount.name The name of the service account to use. If not set and create is true, a name is generated using the fullname template.

serviceAccount:
  create: false
  annotations: {}
  name: ''


# @section Strategy settings

# @param updateStrategy.type Type of Kubernetes deployment. Can be `Recreate` or `RollingUpdate`.

updateStrategy:
  type: RollingUpdate


# @section Limits

# @skip resources
# @extra resources.requests.cpu A CPU request.
# @extra resources.requests.memory A memory request.
# @extra resources.limits.cpu A CPU limit.
# @extra resources.limits.memory A memory limit.

resources: {}

# @section Service settings

# @param service.enabled If the service is enabled.
# @param service.type Kubernetes [service type](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types).
# @param service.port Service port.
# @param service.annotations Kubernetes [service annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/).
# @param service.labels Kubernetes [service labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/).

service:
  enabled: true
  type: ClusterIP
  port: 80
  annotations: {}
  labels: {}


# @section Kubernetes [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) settings

# @param ingress.enabled If Ingress is enabled for the service.
# @param ingress.className Name of the Ingress controller class.
# @param ingress.hosts[0].host Hostname for the Ingress service.
# @param ingress.hosts[0].paths[0].path Path of the host for the Ingress service.
# @param ingress.hosts[0].paths[0].pathType Type of the path for the Ingress service.
# @param ingress.tls TLS configuration

ingress:
  enabled: false
  className: nginx
  hosts:
  - host: navi-async-matrix.example.com
    paths:
    - path: /
      pathType: Prefix
  tls: []
  # - hosts:
  #   - navi-async-matrix.example.com
  #   secretName: secret.tls


# @section Kubernetes [Pod Disruption Budget](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#pod-disruption-budgets) settings

# @param pdb.enabled If PDB is enabled for the service.
# @param pdb.minAvailable How many pods must be available after the eviction.
# @param pdb.maxUnavailable How many pods can be unavailable after the eviction.

pdb:
  enabled: true
  minAvailable: ''
  maxUnavailable: 1


# @section Kubernetes [Horizontal Pod Autoscaling](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) settings

# @param hpa.enabled If HPA is enabled for the service.
# @param hpa.minReplicas Lower limit for the number of replicas to which the autoscaler can scale down.
# @param hpa.maxReplicas Upper limit for the number of replicas to which the autoscaler can scale up.
# @param hpa.targetCPUUtilizationPercentage Target average CPU utilization (represented as a percentage of requested CPU) over all the pods; if not specified the default autoscaling policy will be used.
# @param hpa.targetMemoryUtilizationPercentage Target average memory utilization (represented as a percentage of requested memory) over all the pods; if not specified the default autoscaling policy will be used.
# @param hpa.behavior HPA Behavior

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: ''
  behavior: {}


# @section Kubernetes [Vertical Pod Autoscaling](https://github.com/kubernetes/autoscaler/blob/master/vertical-pod-autoscaler/README.md) settings

# @param vpa.enabled If VPA is enabled for the service.
# @param vpa.updateMode VPA [update mode](https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler#quick-start).
# @param vpa.minAllowed.cpu Lower limit for the number of CPUs to which the autoscaler can scale down.
# @param vpa.minAllowed.memory Lower limit for the RAM size to which the autoscaler can scale down.
# @param vpa.maxAllowed.cpu Upper limit for the number of CPUs to which the autoscaler can scale up.
# @param vpa.maxAllowed.memory Upper limit for the RAM size to which the autoscaler can scale up.

vpa:
  enabled: false
  updateMode: Auto
  minAllowed:
    cpu: 1000m
    memory: 1Gi
  maxAllowed:
    cpu: 2000m
    memory: 2Gi


# @section Distance Matrix Async API settings

# @param dm.port Distance Matrix Async API HTTP port.
# @param dm.configType Configuration type. Must always be `env`.
# @param dm.logLevel Logging level, one of: DEBUG, INFO, WARNING, ERROR, CRITICAL.
# @param dm.logFormat Logging format, one of: 'plaintext' (default), 'json'
# @param dm.workerCount Number of Distance Matrix Async workers.
# @param dm.citiesUrl URL of the information about cities provided by the Navi-Castle service, ex: http://navi-castle.svc/cities.conf. **Required**
# @param dm.citiesUpdatePeriod Period (in seconds) between requesting data from `citiesUrl`.
# @param dm.compositeTaskTimeoutSec Timeout for executing split tasks.
# @param dm.configFilepath Configs mountpoint path
# @param dm.merger.image.repository Image repository for merger.
# @param dm.merger.image.tag Image tag for merger.
# @param dm.merger.replicaCount A replica count for the arhiver.
# @skip dm.merger.resources
# @extra dm.merger.resources.requests.cpu Merger CPU request. 1CPU recommended.
# @extra dm.merger.resources.requests.memory Merger memory request. 10Gi recommended.
# @extra dm.merger.resources.limits.cpu Merger CPU limit. 1CPU recommended.
# @extra dm.merger.resources.limits.memory Merger memory limit. 20Gi recommended.
# @skip dm.host
# @skip dm.labels
# @skip dm.annotations

dm:
  host: 0.0.0.0
  port: 8000
  configType: env
  logLevel: INFO
  logFormat: plaintext
  workerCount: 4
  citiesUrl: ''
  citiesUpdatePeriod: 3600
  compositeTaskTimeoutSec: 3600
  configFilepath: /etc/2gis/
  merger:
    replicaCount: 1
    image:
      repository: 2gis-on-premise/navi-merger-async-matrix
      tag: 1.19.3
    resources: {}
  labels: {}
  annotations: {}


# @section Database settings

# @param db.host PostgreSQL hostname or IP. **Required**
# @param db.port PostgreSQL port.
# @param db.extraHosts List of PostgreSQL extra hosts and ports. For more details, see values.yaml.
# @param db.name PostgreSQL database name. **Required**
# @param db.user PostgreSQL username. **Required**
# @param db.password PostgreSQL password. **Required**
# @param db.schema PostgreSQL schema.
# @param db.tls.enabled If tls connection to postgresql is enabled.
# @param db.tls.rootCert Root certificate file.
# @param db.tls.cert Certificate of postgresql server.
# @param db.tls.key Key of postgresql server.
# @param db.tls.mode Level of protection.
# @param db.expirationSec How many seconds to store results. (0 - disable)
# @param db.expirationPeriodSec Period of checking the need to clear the results.

db:
  host: ''
  port: 5432
  extraHosts: []
  # Example:
  # extraHosts:
  #   # if port is empty db.port is used
  #   - host: host1.tld
  #   - host: host2.tld
  #     port: 5433
  name: ''
  user: ''
  password: ''
  schema: public
  tls:
    enabled: false
    rootCert: ''
    cert: ''
    key: ''
    mode: verify-full
  expirationSec: 0
  expirationPeriodSec: 86400


# @section Multi-DC settings

# @param multiDc.enabled If multi-DC functionality enabled
# @param multiDc.location Primary DC identifier. Arbitrary identifier, unique per DC installation.
# @param multiDc.redirectHeader HTTP header to tell requests original from redirected. Set empty to skip the check.
# @param multiDc.secondaryTopics.attractTopic Name of `attractTopic` in secondary DC.
# @param multiDc.secondaryTopics.mergerStatusTopic Name of `mergerStatusTopic` in secondary DC.
# @param multiDc.secondaryTopics.oneToManyTopic Name of `oneToManyTopic` in secondary DC.

multiDc:
  enabled: false
  location: default
  redirectHeader: ''
  secondaryTopics:
    attractTopic: ''
    mergerStatusTopic: ''
    oneToManyTopic: ''


# @section Kafka settings

# @param kafka.groupId Distance Matrix Async API group identifier.
# @param kafka.cancelTopic Name of the topic for canceling or receiving information about finished tasks.
# @param kafka.mergerGroupId Group identifier for merger tasks.
# @param kafka.mergerStatusTopic Name of the topic for status merger tasks.
# @param kafka.mergerTaskTopic Name of the topic for merger tasks.
# @param kafka.attractTopic Name of the topic for for attract tasks results
# @param kafka.oneToManyTopic Name of the topic for oneToMany tasks results
# @param kafka.vrpStatusTopic Name of the topic for VRP service integration
# @extra kafka.properties Properties as supported by kafka-python. Refer to inline comments for details.
# @skip kafka.properties.bootstrap.servers
# @skip kafka.properties.security.protocol
# @param kafka.sensitiveProperties As kafka.properties, but kept in Secrets. Refer to inlines comments for details.
# @param kafka.fileProperties As kafka.properties, but kept in a file, which passed to application as a filename. Refer to inline comments for details.
# @param kafka.consumerOverrides.properties Consumer specific properties as simple key-value pairs.
# @param kafka.consumerOverrides.sensitiveProperties Consumer specific properties mounted as secrets.
# @param kafka.consumerOverrides.fileProperties Consumer specific properties mounted as regular files.
# @param kafka.producerOverrides.properties Consumer specific properties as simple key-value pairs.
# @param kafka.producerOverrides.sensitiveProperties Consumer specific properties mounted as secrets.
# @param kafka.producerOverrides.fileProperties Consumer specific properties mounted as regular files.
# @extra kafka.taskTopicRules **Information about the topics that Distance Matrix Async API will use to send the requests.**
# @extra kafka.taskTopicRules[].topic Name of the topic.
# @extra kafka.taskTopicRules[].default If this topic is used for projects by default.
# @extra kafka.taskTopicRules[].type Routing type for tasks in the topic (`car`, `truck`), defaults to `car`
# @extra kafka.taskTopicRules[].projects List of projects to use this topic for, e.g., `['moscow']`.
# @skip kafka.taskTopicRules[0].topic
# @skip kafka.taskTopicRules[0].type
# @skip kafka.taskTopicRules[0].default
# @skip kafka.taskTopicRules[1].topic
# @skip kafka.taskTopicRules[1].type
# @skip kafka.taskTopicRules[1].default
# @skip kafka.taskTopicRules[2].topic
# @skip kafka.taskTopicRules[2].type
# @skip kafka.taskTopicRules[2].projects
# @param kafka.attractTopicRules ** Rules to map request type to topic for attract tasks **
# @extra kafka.attractTopicRules[0].topic Name of the topic.
# @extra kafka.attractTopicRules[0].default If this topic is used for projects by default.
# @extra kafka.attractTopicRules[0].type Routing type for tasks in the topic (`car`, `truck`, `walking`, `bicycle`, `scooter`), defaults to `car`
# @extra kafka.attractTopicRules[0].projects List of projects to use this topic for, e.g., `['moscow']`.

kafka:
  groupId: navi_async_matrix
  cancelTopic: ''
  mergerGroupId: navi_async_matrix_merger
  mergerStatusTopic: ''
  mergerTaskTopic: ''
  attractTopic: ''
  oneToManyTopic: ''
  vrpStatusTopic: ''
  properties:
    bootstrap.servers: ''
    security.protocol: PLAINTEXT
  sensitiveProperties: {}
  fileProperties: {}
  consumerOverrides:
    properties: {}
    sensitiveProperties: {}
    fileProperties: {}
  producerOverrides:
    properties: {}
    sensitiveProperties: {}
    fileProperties: {}
  taskTopicRules:
  - topic: task_topic
    type: car
    default: true
  # - topic: task_topic_moscow
  #   type: car
  #   projects:
  #   - moscow
  attractTopicRules: []
  #   - topic: attract_task_topic
  #     type: car
  #     default: true

# More on Kafka properties.
#
# kafka.properties, kafka.sensitiveProperties and kafka.fileProperties are sections to specify
# Kafka properties as supported by kafka-python:
# https://buildmedia.readthedocs.org/media/pdf/kafka-python/master/kafka-python.pdf
#
# Properties are case-insensitive, '.' and '_' can be used interchangeably, i.e.
# the following ones mean the same thing:
# - bootstrap.servers
# - bootstrap_servers
# - BOOTstrap.SERVErs
# Even though kafka-python native word splitter is '_', there '.' is rather used for similiarity
# with corresponding settings in navi-back.
#
# Both kafka.properties and kafka.sensitiveProperties pass values through to the application,
# the difference is that kafka.properties are openly disclosed in Pod specification, while
# kafka.sensitiveProperties is kept in Secrets and never disclosed.
#
# kafka.fileProperties keep their values in Secrets the same way as kafka.sensitiveProperties,
# but these secrets get mounted in application container as files. Application gets pathnames
# to these files instead of actual values.
#
# Kafka properties for common use-cases:
#
# Note that <Set-by-CI from user.p12> means that actual content passed from
# file user.p12 with --set-file (especially binary data), e.g.:
#
#   $ helm install navi-back . --set-file 'kafka.fileProperties.ssl\.keystore\.location=user.p12'
#
# 1. SSL authentication with key file protected with password 'password':
#
#  properties:
#    bootstrap.servers: kafka.host:9092
#    security.protocol: SSL
#  sensitiveProperties:
#    ssl.password: password
#  fileProperties:
#    ssl.cafile: '<Set-by-CI from ca.crt>'
#    ssl.certfile: '<Set-by-CI from user.crt>'
#    ssl.keyfile: '<Set-by-CI from user.pem>'
#
# 2. login/password SASL as kafkauser/123:
#
#  properties:
#    bootstrap.servers: kafka.host:9092
#    security.protocol: SASL_PLAINTEXT
#    sasl.mechanism: SCRAM-SHA-512
#    sasl.plain.username: user
#  sensitiveProperties:
#    sasl.plain.password: password
#
# 3. Unauthenticated:
#
#  properties:
#    bootstrap.servers: kafka.host:9092
#    security.protocol: PLAINTEXT
#
# Note that .p12 or .jks formats are not supported, they need to be
# converted to PEM/RSA with openssl or other utility:
#   https://github.com/dpkp/kafka-python/issues/2052


# @section S3-compatible storage settings

# @param s3.host S3 endpoint URL, ex: http://async-matrix-s3.host. **Required**
# @param s3.bucket S3 bucket name. **Required**
# @param s3.region S3 region.
# @param s3.accessKey S3 access key for accessing the bucket. **Required**
# @param s3.secretKey S3 secret key for accessing the bucket. **Required**
# @param s3.publicUrl Announce proxy URL for S3 results instead of s3.url if not empty. Must start with `http(s)://`
# @extra s3.publicNetloc DEPRECATED alias for `s3.publicUrl`
# @param s3.expirationDays How many days to store results

s3:
  host: ''
  bucket: ''
  region: ''
  accessKey: ''
  secretKey: ''
  publicUrl: ''
  expirationDays: 14

# @param stat.enabled Is integration with statistic service enabled
# @param stat.url URL of the statistic service (e.g - http(s)://stat-receiver/bss/3). **Required** if integration with statistic service enabled
# @skip stat.version

stat:
  enabled: false
  url: ''
  version: '0.1'

# @section API keys service

# @param keys.url API keys service URL, ex: http://keys-api.svc/service/v1/keys. **Required**
# @param keys.token API token to authorize at the service. Required if truck car routing in use.
# @param keys.truckToken Truck API token to authorize at the service. Required if truck routing in use.

keys:
  url: ''
  token: ''
  truckToken: ''


# @section customCAs **Custom Certificate Authority**

# @param customCAs.bundle Custom CA [text representation of the X.509 PEM public-key certificate](https://www.rfc-editor.org/rfc/rfc7468#section-5.1)
# @param customCAs.certsPath Custom CA bundle mount directory in the container. If empty, the default value: "/usr/local/share/ca-certificates"

customCAs:
  bundle: ''
# bundle: |
    # -----BEGIN CERTIFICATE-----
    # ...
    # -----END CERTIFICATE-----
  certsPath: ''
