apiVersion: v1
kind: Secret
metadata:
  name: {{ include "search-api.fullname" . }}
  labels:
    {{- include "search-api.labels" . | nindent 4 -}}
    {{- if (.Values.dgctlStorage).manifest }}
    {{- with (include "search-api.manifestCode" .) }}
    manifest: {{ . | quote }}
    {{- end }}{{- /* .Values.dgctlStorage).manifest */}}
    {{- end }}{{- /* include "search-api.labels" */}}
type: Opaque
data:
{{- if .Values.onpremise }}
  s3AccessKey:  {{ required "Valid .Values.dgctlStorage.accessKey required!" .Values.dgctlStorage.accessKey | b64enc }}
  s3SecretKey:  {{ required "Valid .Values.dgctlStorage.secretKey required!" .Values.dgctlStorage.secretKey | b64enc }}
  s3Host:  {{ required "Valid .Values.dgctlStorage.host required!" .Values.dgctlStorage.host | b64enc }}
{{ else }}
  s3AccessKey:  {{ required "Valid .Values.s3Client.accessKeyId required!" .Values.dgctlStorage.accessKey | b64enc }}
  s3SecretKey:  {{ required "Valid .Values.s3Client.secretAccessKey required!" .Values.dgctlStorage.secretKey | b64enc }}
  s3Host:  {{ required "Valid .Values.s3Client.endpoint required!" .Values.dgctlStorage.endpoint | b64enc }}
{{ end }}{{- /* .Values.onpremise */}}