environments:
  sandbox:
    values:
    - kubeContext: kind-2gis-on-premise
    - chartLocation: oci://ghcr.io/2gis/charts
    - chartLocationGrafana: oci://ghcr.io/grafana/helm-charts
    - chartLocationVector: oci://ghcr.io/vectordotdev/helm-charts
    - chartLocationPrometheus: oci://ghcr.io/prometheus-community/charts
    - chartLocationBitnami: oci://registry-1.docker.io/bitnamicharts
    - domain: sandbox
    - namespace: sandbox
    - ingressController: traefik
    - ingressTls: false
    - dgctlDockerRegistry: 'kind-registry:5000'
    - dgctlStorage:
        host: 's3.sandbox'
        bucket: 'sandbox-dgctl'
        accessKey: 'admin'
        secretKey: 'on-premise'
        secure: false
    - key: 'example-key-123456789'
    - license:
        key: # sandbox-todo: вставьте лицензионный ключ 2GIS
