apiVersion: v1
kind: Secret
metadata:
  name: {{ include "citylens.routes.api.name" . }}-secret
type: Opaque
data:
  postgresPassword: {{ required "Valid .Values.postgres.password required!" .Values.postgres.password | b64enc }}
  busConfigSaslPassword: {{ required "Valid .Values.kafka.password required!" .Values.kafka.password | b64enc }}
  adminPassword: {{ required "Valid .Values.routes.adminCredentials.password required!" .Values.routes.adminCredentials.password | b64enc  }}
  proAuthToken: {{ .Values.routes.pro.authorizationToken | b64enc }}
  proTasksAssetAccessToken: {{ .Values.routes.tasksAssetSettings.systemAccessToken | b64enc }}
  naviApiKey: {{ required "Valid .Values.routes.navi.key required!" .Values.routes.navi.key | b64enc }}
