{{- if .Values.worker.camcomSender.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "citylens.camcom-sender.name" . }}
  {{- if .Values.worker.camcomSender.annotations }}
  annotations:
    {{- toYaml .Values.worker.camcomSender.annotations | nindent 4 }}
  {{- end }}
  labels:
    {{- include "citylens.camcom-sender.labels" . | nindent 4 }}
  {{- if .Values.worker.camcomSender.labels }}
    {{- toYaml .Values.worker.camcomSender.labels | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.worker.camcomSender.replicas }}
  revisionHistoryLimit: {{ .Values.worker.camcomSender.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "citylens.camcom-sender.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/web/configmap.yaml") . | sha256sum }}
        checksum/custom-ca: {{ include "citylens.checksum" (merge (dict "path" "/custom-ca.configmap.yaml") $) }}
      {{- with .Values.worker.camcomSender.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "citylens.camcom-sender.labels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ include "citylens.camcom-sender.name" . }}
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.web.image.repository }}:{{ .Values.web.image.tag }}
          imagePullPolicy: {{ .Values.web.image.pullPolicy }}
          command: [ "/bin/sh", "-c" ]
          args: [ "flask sender camcom_predictor" ]
          env:
            - name: CONFIG_PATH
              value: /opt/worker/config/dashboard_config.yaml
            {{- if $.Values.customCAs.bundle }}
            - name: SSL_CERT_DIR
              value: {{ include "citylens.customCA.mountPath" $ }}
            {{- end }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
          volumeMounts:
            - name: config-volume
              mountPath: /opt/worker/config
            {{- if $.Values.customCAs.bundle }}
            - mountPath: {{ include "citylens.customCA.mountPath" $ }}
              name: custom-ca
              readOnly: true
            {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "citylens.web.name" . }}-configmap
        {{- if $.Values.customCAs.bundle }}
        - name: custom-ca
          configMap:
            name: {{ include "citylens.name" $ }}-custom-ca-configmap
        {{- end }}
      {{- with .Values.worker.camcomSender.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.camcomSender.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.camcomSender.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
