{{- if .Values.worker.detectionsLocalizer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "citylens.lifecycle-controller.name" . }}
  {{- if .Values.worker.lifecycleController.annotations }}
  annotations:
    {{- toYaml .Values.worker.lifecycleController.annotations | nindent 4 }}
  {{- end }}
  labels:
    {{- include "citylens.lifecycle-controller.labels" . | nindent 4 }}
  {{- if .Values.worker.lifecycleController.labels }}
    {{- toYaml .Values.worker.lifecycleController.labels | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  revisionHistoryLimit: {{ .Values.worker.lifecycleController.revisionHistoryLimit }}
  selector:
    matchLabels:
      {{- include "citylens.lifecycle-controller.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/web/configmap.yaml") . | sha256sum }}
        checksum/custom-ca: {{ include "citylens.checksum" (merge (dict "path" "/custom-ca.configmap.yaml") $) }}
      {{- with .Values.worker.lifecycleController.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "citylens.lifecycle-controller.labels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ include "citylens.lifecycle-controller.name" . }}
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.web.image.repository }}:{{ .Values.web.image.tag }}
          imagePullPolicy: {{ .Values.web.image.pullPolicy }}
          command: [ "/bin/sh", "-c" ]
          args: [ "flask reporter lifecycle_controller" ]
          env:
            - name: CONFIG_PATH
              value: /opt/worker/config/dashboard_config.yaml
            - name: LIFECYCLE_CONTROLLER_SUSPEND_TIME
              value: '10' # seconds
            - name: SCHEDULED_LOCALIZATION_TIMEOUT_MINUTES
              value: {{ .Values.worker.lifecycleController.scheduledLocalizationTimeoutMinutes | squote }}
            - name: UPLOADING_TRACK_MIN_LOCALIZATION_INTERVAL_MINUTES
              value: {{ .Values.worker.lifecycleController.minTrackLocalizationIntervalMinutes | squote }}
            - name: UPLOADED_TRACK_MIN_LOCALIZATION_INTERVAL_MINUTES
              value: {{ .Values.worker.lifecycleController.minTrackLocalizationIntervalMinutes | squote }}
            {{- if $.Values.customCAs.bundle }}
            - name: SSL_CERT_DIR
              value: {{ include "citylens.customCA.mountPath" $ }}
            {{- end }}
          resources:
            {{- toYaml .Values.worker.resources | nindent 12 }}
          volumeMounts:
            - name: config-volume
              mountPath: /opt/worker/config
            {{- if $.Values.customCAs.bundle }}
            - mountPath: {{ include "citylens.customCA.mountPath" $ }}
              name: custom-ca
              readOnly: true
            {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ include "citylens.web.name" . }}-configmap
        {{- if $.Values.customCAs.bundle }}
        - name: custom-ca
          configMap:
            name: {{ include "citylens.name" $ }}-custom-ca-configmap
        {{- end }}
      {{- with .Values.worker.lifecycleController.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.lifecycleController.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.worker.lifecycleController.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
