apiVersion: v1
kind: Secret
metadata:
  name: {{ include "pro-api.secretName" . }}
type: Opaque
data:
  catalogApi2gisKey: {{ required "Valid .Values.catalog.key required!" .Values.catalog.key | b64enc }}
  routingApi2gisKey: {{ required "Valid .Values.navi.key required!" .Values.navi.key | b64enc }}
  dbConnectionPwd: {{ required "Valid .Values.postgres.api.rw.password required!" .Values.postgres.api.rw.password | b64enc }}
  {{ if .Values.postgres.api.ro.password }}
  dbConnectionPwdRo: {{ .Values.postgres.api.ro.password | b64enc }}
  {{ end }}
  permissionsDbConnectionPwd: {{ required "Valid .Values.postgres.permissions.rw.password required!" .Values.postgres.api.rw.password | b64enc }}
  {{ if .Values.postgres.permissions.ro.password }}
  permissionsDbConnectionPwdRo: {{ .Values.postgres.permissions.ro.password | b64enc }}
  {{ end }}
  {{ if .Values.tasks.settings.enabled }}
  tasksDbConnectionPwd: {{ required "Valid .Values.postgres.tasks.rw.password required!" .Values.postgres.tasks.rw.password | b64enc }}
  {{ end }}
  {{ if and .Values.tasks.settings.enabled .Values.postgres.tasks.ro.password }}
  tasksDbConnectionPwdRo: {{ .Values.postgres.tasks.ro.password | b64enc }}
  {{ end }}
  s3AccessKey: {{ required "Valid .Values.dgctlStorage.accessKey required!" .Values.dgctlStorage.accessKey | b64enc }}
  s3SecretKey: {{ required "Valid .Values.dgctlStorage.secretKey required!" .Values.dgctlStorage.secretKey | b64enc }}
  {{ if .Values.digger.authToken }}
  diggerAuthToken: {{ .Values.digger.authToken | b64enc }}
  {{ end }}
  permissionsApiKey: {{ required "Valid .Values.permissions.settings.auth.apiKey required!" .Values.permissions.settings.auth.apiKey | b64enc }}
  {{ if .Values.elastic.password }}
  esPassword: {{ .Values.elastic.password | b64enc }}
  {{ end }}
  {{ if .Values.api.settings.auth.apiKey }}
  apiKey: {{ .Values.api.settings.auth.apiKey | b64enc }}
  {{ end }}
  {{ if .Values.tasks.settings.auth.apiKey }}
  tasksApiKey: {{ .Values.tasks.settings.auth.apiKey | b64enc }}
  {{ end }}
  {{ if .Values.kafka.sasl.password }}
  kafkaSaslPassword: {{ .Values.kafka.sasl.password | b64enc }}
  {{ end }}
  {{ if .Values.redis.password }}
  redisPassword: {{ .Values.redis.password | b64enc }}
  {{ end }}
  {{ if .Values.api.settings.auth.clientSecret }}
  authClientSecret: {{ .Values.api.settings.auth.clientSecret | b64enc }}
  {{ end }}
  {{ if .Values.ecommerce.password }}
  ecommercePassword: {{ .Values.ecommerce.password | b64enc }}
  {{ end }}
  {{ if .Values.mailerAdmin.password }}
  mailerAdminPassword: {{ .Values.mailerAdmin.password | b64enc }}
  {{ end }}
  {{- if .Values.authProvider.enabled }}
  {{- if eq (default "" .Values.authProvider.schema) "Basic" }}
  {{- range $index, $user := .Values.authProvider.basic.users }}
  {{ printf "authUserBasic-%d-%s-password" $index $user.username }}: {{ $user.password | b64enc }}
  {{- end }}
  {{- end }}
  {{- if eq (default "" .Values.authProvider.schema) "Oidc" }}
  authProviderOidcClientSecret: {{ .Values.authProvider.oidc.clientSecret | b64enc }}
  {{- end }}
  {{- end }}
  {{ if .Values.pagerenderer.settings.enabled }}
  pagerendererApiKey: {{ required "Valid .Values.pagerenderer.settings.auth.apiKey required!" .Values.pagerenderer.settings.auth.apiKey | b64enc }}
  {{ end }}

  {{- if .Values.security.secretKey }}
  securitySecretKey: {{ .Values.security.secretKey | b64enc }}
  {{- else }}
    {{- $namespace := include "pro-api.namespace" . }}
    {{- $secretName := include "pro-api.secretName" . }}
    {{- $secret := lookup "v1" "Secret" $namespace $secretName }}
    {{- if and $secret (hasKey $secret.data "securitySecretKey") }}
  securitySecretKey: {{ index $secret.data "securitySecretKey" }}
    {{- else }}
  securitySecretKey: {{ randAlphaNum 32 | b64enc }}
    {{- end }}
  {{- end }}
