{{- if .Values.counter.enabled }}
{{- if not .Values.redis.enabled }}
  {{- fail "Counter requires redis.enabled to be true" }}
{{- end }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "keys.counter.name" . }}
  labels:
    {{- include "keys.counter.labels" . | nindent 4 }}
  {{- with .Values.counter.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  serviceName: {{ include "keys.counter.name" . }}
  replicas: {{ .Values.counter.replicas }}
  selector:
    matchLabels:
      {{- include "keys.counter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "keys.counter.selectorLabels" . | nindent 8 }}
    spec:
      {{- with include "keys.initTLS" . }}
      initContainers:
      {{- . | nindent 8 }}
      {{- end }}
      containers:
        - name: counter
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          command: [ "keys-counter" ]
          ports:
            - name: http
              containerPort: 8090
          resources:
            {{- toYaml .Values.counter.resources | nindent 12 }}
          env:
            {{- include "keys.env.db.deploys" . | nindent 12 }}
            {{- include "keys.env.redis" . | nindent 12 }}
            {{- include "keys.env.counter" . | nindent 12 }}
          volumeMounts:
            {{- if .Values.customCAs.bundle }}
            {{- include "keys.custom.ca.volumeMounts" . | nindent 12 }}
            {{- end }}
            {{- include "keys.psql.volumeMount" . | nindent 12 }}
            {{- include "keys.tls.kafka.volumeMount" . | nindent 12 }}
      volumes:
        {{- if .Values.customCAs.bundle }}
        {{- include "keys.custom.ca.deploys.volumes" . | nindent 8 }}
        {{- end }}
        {{- include "keys.psql.volume" . | nindent 8 }}
      {{- include "keys.tls.kafka.volume" . | nindent 8 }}
      {{- with .Values.counter.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.counter.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.counter.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
