---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "castle.fullname" . }}
  {{- if .Values.annotations }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
  labels:
    {{- include "castle.labels" . | nindent 4 }}
    {{- if (.Values.dgctlStorage).manifest }}
    {{- with (include "castle.manifestCode" .) }}
    manifest: {{ . | quote }}
    {{- end }}
    {{- end }}
  {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
  {{- end }}
spec:
  serviceName: {{ include "castle.fullname" . }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "castle.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/configbuilder: {{ (include (print $.Template.BasePath "/configmapbuilder.yaml") . | fromYaml).data | toYaml | sha256sum }}
        checksum/configbuilder-runnable: {{ (include (print $.Template.BasePath "/configmapbuilder-runnable.yaml") . | fromYaml).data | toYaml | sha256sum }}
        checksum/confignginx: {{ (include (print $.Template.BasePath "/configmapnginx.yaml") . | fromYaml).data | toYaml | sha256sum }}
        checksum/secret: {{ (include (print $.Template.BasePath "/secret.yaml") . | fromYaml).data | toYaml | sha256sum }}
        {{- if .Values.customCAs.bundle }}
        checksum/custom-ca: {{ (include (print $.Template.BasePath "/configmap-ca.yaml") . | fromYaml).data | toYaml | sha256sum }}
        {{- end }}
        {{- if .Values.extraEnvVarsSecret }}
        checksum/secret-extra-env: {{ (include (print $.Template.BasePath "/secret-extra-env.yaml") . | fromYaml).data | toYaml | sha256sum }}
        {{- end }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "castle.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ include "castle.fullname" . }}-builder-config
          configMap:
            name: {{ include "castle.fullname" . }}-builder-config
        - name: {{ include "castle.fullname" . }}-runnable
          configMap:
            name: {{ include "castle.fullname" . }}-runnable
            defaultMode: 0775
        - name: {{ include "castle.fullname" . }}-castle-nginx-config
          configMap:
            name: {{ include "castle.fullname" . }}-castle-nginx-config
        {{- if .Values.customCAs.bundle }}
        - name: {{ include "castle.fullname" $ }}-ca
          configMap:
            name: {{ include "castle.fullname" $ }}-ca
        {{- end }}
        {{- if (not .Values.persistentVolume.enabled) }}
        - name: {{ include "castle.fullname" . }}-data
          emptyDir: {}
        {{- end }}
        {{- if and .Values.persistentVolume.enabled (eq .Values.persistentVolume.type "ephemeral") }}
        - name: {{ include "castle.fullname" . }}-pvc
          ephemeral:
            volumeClaimTemplate:
              metadata:
                labels:
                  {{- include "castle.labels" . | nindent 18 }}
              spec:
                {{- with .Values.persistentVolume.accessModes }}
                accessModes:
                  {{- toYaml . | nindent 18 }}
                {{- end }}
                storageClassName: {{ .Values.persistentVolume.storageClass }}
                resources:
                  requests:
                    storage: {{ .Values.persistentVolume.size }}
        {{- end }}
        {{- if .Values.nginx.customConfigPath }}
        - name: nginx-custom-config-path
          emptyDir: {}
        {{- end }}
        {{- if .Values.extraVolumes }}
        {{- include "tplvalues.render" (dict "value" .Values.extraVolumes "context" $) | nindent 8 }}
        {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      enableServiceLinks: {{ .Values.enableServiceLinks }}
      {{- if .Values.initContainers }}
      initContainers:
        {{- include "tplvalues.render" (dict "value" .Values.initContainers "context" $) | nindent 8 }}
      {{- end }}
      containers:
        - name: castle-nginx
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.nginx.image.repository }}:{{ .Values.nginx.image.tag }}
          imagePullPolicy: {{ .Values.nginx.image.pullPolicy }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - name: {{ include "castle.fullname" . }}-castle-nginx-config
            mountPath: {{ printf "%s/conf.d/castle.conf" ( include "nginx.customConfigPath" .) }}
            subPath: castle.conf
          {{- if .Values.persistentVolume.enabled }}
          - name: {{ include "castle.fullname" . }}-pvc
            mountPath: {{ .Values.castle.castleDataPath }}
          {{- else }}
          - name: {{ include "castle.fullname" . }}-data
            mountPath: {{ .Values.castle.castleDataPath }}
          {{- end }}
          {{- if .Values.nginx.customConfigPath }}
          - name: nginx-custom-config-path
            mountPath: {{ .Values.nginx.customConfigPath }}
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
          {{- include "tplvalues.render" (dict "value" .Values.extraVolumeMounts "context" $) | nindent 10 }}
          {{- end }}
          {{- if.Values.nginx.customConfigPath }}
          env:
            - name: NGINX_CUSTOM_CONFIG_PATH
              value: {{ .Values.nginx.customConfigPath | quote }}
          {{- end }}
          {{- if .Values.nginx.customConfigPath }}
          args:
            - nginx
            - "-c"
            - {{ printf "%s/nginx.conf" ( include "nginx.customConfigPath" .) | quote }}
            - "-g"
            - "daemon off;"
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.nginx.port }}
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 2
        - name: castle-cron
          image: {{ required "A valid $.Values.dgctlDockerRegistry entry required" $.Values.dgctlDockerRegistry }}/{{ $.Values.castle.image.repository }}:{{ $.Values.castle.image.tag }}
          imagePullPolicy: {{ .Values.castle.image.pullPolicy }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          command: ["/tini","--"]
          args:
          - /opt/update_services_init.sh
          env:
          {{- if .Values.customCAs.bundle }}
          - name: SSL_CERT_FILE
            value: {{ include "custom.ca.mountPath" . }}/custom-ca.crt
          {{- end }}
          - name: LOG_FORMAT
            value: {{ .Values.castle.logFormat | quote }}
          - name: LOG_LEVEL
            value: {{ .Values.castle.logLevel | quote }}
          {{- if .Values.extraEnvVarsSecret }}
          envFrom:
          - secretRef:
              name: {{ include "castle.fullname" . }}-secret-env
          {{- end }}
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
          startupProbe:
            {{- /* checks if supercronic prometheus port is open */}}
            httpGet:
              path: /health
              port: {{ .Values.cron.prometheusPort | int }}
            failureThreshold: {{ (.Values.castle.startupProbe).failureThreshold | default 180 | int }}
            periodSeconds: {{ (.Values.castle.startupProbe).periodSeconds | default 5 | int }}
          livenessProbe:
            {{- /* checks if supercronic prometheus port is open */}}
            httpGet:
              path: /health
              port: {{ .Values.cron.prometheusPort | int }}
            initialDelaySeconds: 10
            periodSeconds: 10
          ports:
            - name: cron-prom
              containerPort: {{ .Values.cron.prometheusPort | int }}
              protocol: TCP
          volumeMounts:
          - name: {{ include "castle.fullname" $ }}-builder-config
            mountPath: /opt/config_builder.conf
            subPath: config_builder.conf
          - name: {{ include "castle.fullname" $ }}-runnable
            mountPath: /opt/update_services_init.sh
            subPath: update_services_init.sh
          - name: {{ include "castle.fullname" $ }}-builder-config
            mountPath: {{ $.Values.castle.castleDataPath }}/cities_template
            subPath: cities_template
          - name: {{ include "castle.fullname" $ }}-builder-config
            mountPath: /opt/update_services
            subPath: update_services
          {{- if .Values.persistentVolume.enabled }}
          - name: {{ include "castle.fullname" . }}-pvc
            mountPath: {{ .Values.castle.castleDataPath }}
          {{- else }}
          - name: {{ include "castle.fullname" . }}-data
            mountPath: {{ .Values.castle.castleDataPath }}
          {{- end }}
          {{- if .Values.customCAs.bundle }}
          - name: {{ include "castle.fullname" $ }}-ca
            mountPath: {{ include "custom.ca.mountPath" . }}/custom-ca.crt
            subPath: custom-ca.crt
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
          {{- include "tplvalues.render" (dict "value" .Values.extraVolumeMounts "context" $) | nindent 10 }}
          {{- end }}
        {{- if .Values.rtr.enabled }}
        - name: castle-rtr
          image: {{ required "A valid $.Values.dgctlDockerRegistry entry required" $.Values.dgctlDockerRegistry }}/{{ $.Values.castle.image.repository }}:{{ $.Values.castle.image.tag }}
          imagePullPolicy: {{ .Values.castle.image.pullPolicy }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          command:
            - /opt/configuration_builder
          args:
            - --config
            - /opt/config_builder.conf
            - --service=restriction_json
            - --daemon
          resources:
            {{- toYaml $.Values.resources | nindent 12 }}
          volumeMounts:
          - name: {{ include "castle.fullname" $ }}-builder-config
            mountPath: /opt/config_builder.conf
            subPath: config_builder_rtr.conf
          {{- if .Values.persistentVolume.enabled }}
          - name: {{ include "castle.fullname" . }}-pvc
            mountPath: {{ .Values.castle.castleDataPath }}
          {{- else }}
          - name: {{ include "castle.fullname" . }}-data
            mountPath: {{ .Values.castle.castleDataPath }}
          {{- end }}
          {{- if .Values.customCAs.bundle }}
          - name: {{ include "castle.fullname" $ }}-ca
            mountPath: {{ include "custom.ca.mountPath" . }}/custom-ca.crt
            subPath: custom-ca.crt
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
          {{- include "tplvalues.render" (dict "value" .Values.extraVolumeMounts "context" $) | nindent 10 }}
          {{- end }}
          env:
            {{- range $kafkaRole, $overridesProperty := (dict
                  "CONSUMER" "consumerOverrides"
                ) -}}
            {{- $overrides := dict }}
            {{- /* if override property key exists in values */}}
            {{- if (hasKey $.Values.rtr.kafka $overridesProperty) }}
              {{- $overrides = $overridesProperty | get ($overridesProperty | get $.Values.rtr.kafka)}}
            {{- end }}
            {{- $kafkaPropertiesEnv := include "castle.kafkaPropertiesEnv" (dict
                  "kafka" $.Values.rtr.kafka
                  "overrides" $overrides
                  "secretname" (print
                      (include "castle.fullname" $)
                      "-rtr"
                    )
                  "mountpoint" "/etc/2gis/secret/rtr"
                  "prefix" "CASTLE_RESTRICTION_JSON_KAFKA_"
                ) | fromYaml }}
            {{- get $kafkaPropertiesEnv "ret" | toYaml | nindent 12 }}

            {{- if $.Values.rtr.roadLocks.enabled }}
            {{- $overridesRoadLocks := dict }}
            {{- /* if override property key exists in values */}}
            {{- if (hasKey $.Values.rtr.roadLocks.kafka $overridesProperty) }}
              {{- $overridesRoadLocks = $overridesProperty | get ($overridesProperty | get $.Values.rtr.roadLocks.kafka)}}
            {{- end }}
            {{- $kafkaRoadLocksPropertiesEnv := include "castle.kafkaPropertiesEnv" (dict
                  "kafka" $.Values.rtr.roadLocks.kafka
                  "overrides" $overrides
                  "secretname" (print
                      (include "castle.fullname" $)
                      "-rtr"
                    )
                  "mountpoint" "/etc/2gis/secret/rtr"
                  "prefix" "CASTLE_RESTRICTION_JSON_KAFKA_ROAD_LOCKS_"
                ) | fromYaml }}
            {{- get $kafkaRoadLocksPropertiesEnv "ret" | toYaml | nindent 12 }}
            {{- end }}{{- /* .Values.rtr.roadLocks.enabled */}}
            {{- end }}{{- /* range $kafkaRole, $overridesProperty */}}

            - name: CASTLE_HTTP_PWD
              valueFrom:
                secretKeyRef:
                  key: rtr.webapi.password
                  name: {{ print (include "castle.fullname" $) "-rtr" }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: CASTLE_RESTRICTION_JSON_KAFKA_GROUP_ID
              value: "{{ .Values.rtr.kafka.groupId }}-$(POD_NAME)"
            - name: CASTLE_RESTRICTION_JSON_KAFKA_ROAD_LOCKS_GROUP_ID
              value: "{{ .Values.rtr.roadLocks.kafka.groupId }}-$(POD_NAME)"
            {{- if .Values.castle.excludeProjects }}
            - name: CASTLE_EXCLUDE_PROJECTS
              value: {{ join "," .Values.castle.excludeProjects | quote }}
            {{- end }}
            {{- if .Values.customCAs.bundle }}
            - name: SSL_CERT_FILE
              value: {{ include "custom.ca.mountPath" . }}/custom-ca.crt
            {{- end }}
            - name: LOG_FORMAT
              value: {{ .Values.castle.logFormat | quote }}
            - name: LOG_LEVEL
              value: {{ .Values.castle.logLevel | quote }}
          {{- if .Values.extraEnvVarsSecret }}
          envFrom:
          - secretRef:
              name: {{ include "castle.fullname" . }}-secret-env
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.nginx.port }}
              protocol: TCP
          readinessProbe:
            exec:
              command:
                - bash
                - -c
                - test -e /var/run/2gis/castle_connect_kafka.lock
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 2
          startupProbe:
            exec:
              command:
                - bash
                - -c
                - test -e /var/run/2gis/castle_connect_kafka.lock
            failureThreshold: {{ (.Values.castle.startupProbe).failureThreshold | default 180 | int }}
            periodSeconds: {{ (.Values.castle.startupProbe).periodSeconds | default 5 | int }}
        {{- end }}{{- /* .Values.rtr.enabled */}}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        {{- include "tplvalues.render" ( dict "value" .Values.affinity "context" $) | nindent 8 }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if and .Values.persistentVolume.enabled (eq .Values.persistentVolume.type "pvc") }}
  volumeClaimTemplates:
    - metadata:
        name: {{ include "castle.fullname" . }}-pvc
      spec:
        {{- with .Values.persistentVolume.accessModes }}
        accessModes:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        storageClassName: {{ .Values.persistentVolume.storageClass }}
        resources:
          requests:
            storage: {{ .Values.persistentVolume.size }}
  {{- end }}
