kafka:
  properties:
    bootstrap.servers: '' # TODO
    security.protocol: SASL_PLAINTEXT # TODO
    sasl.mechanism: SCRAM-SHA-512 # TODO
    sasl.plain.username: user # TODO
  sensitiveProperties:
    sasl.plain.password: password # TODO

s3:
  host: "http://s3.staging.host" # TODO
  bucket: bucket # TODO
  accessKey: access # TODO
  secretKey: secret # TODO
  enabled: true

db:
  host: host # TODO
  port: port # TODO
  name: name # TODO
  user: navi # TODO
  password: '' # TODO
  schema: public # TODO

keys:
  token: 'DISTANCE_MATRIX_API_TOKEN' # TODO: сервисный токен для сервиса Distance Matrix API
