---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "mapgl.fullname" . }}
  {{- if .Values.annotations }}
  annotations:
    {{- toYaml .Values.annotations | nindent 4 }}
  {{- end }}
  labels:
    {{- include "mapgl.labels" . | nindent 4 }}
  {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: {{ .Values.revisionHistoryLimit }}
  {{- if .Values.strategy }}
  strategy:
    {{- toYaml .Values.strategy | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "mapgl.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "mapgl.selectorLabels" . | nindent 8 }}
      {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      enableServiceLinks: {{ .Values.enableServiceLinks }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: PUBLIC_HOST
              value: {{ .Values.env.MAPGL_HOST | quote }}
            - name: DEMO_KEY
              value: {{ .Values.env.MAPGL_DEMO_KEY | quote }}
            - name: MAPGL_TILESERVER
              value: {{ required "A valid .Values.env.MAPGL_TILES_API entry required" .Values.env.MAPGL_TILES_API | quote }}
            - name: MAPGL_TILESET
              value: {{ .Values.env.MAPGL_TILESET | quote }}
            - name: MAPGL_MODELS_TILESET
              value: {{ .Values.env.MAPGL_IMMERSIVE_TILESET | quote }}
            - name: MAPGL_RELIEF_TILESET
              value: {{ .Values.env.MAPGL_RELIEF_TILESET | quote }}
            - name: MAPGL_TRAFFICSERVER
              value: {{ .Values.env.MAPGL_TRAFFICSERVER | quote }}
            - name: MAPGL_STYLESERVER
              value: {{ .Values.env.MAPGL_STYLESERVER | quote }}
            - name: MAPGL_ICONSPATH
              value: {{ .Values.env.MAPGL_ICONS_URL | quote }}
            - name: MAPGL_MODELSPATH
              value: {{ .Values.env.MAPGL_MODELS_URL | quote }}
            - name: MAPGL_KEYSERVER
              value: {{ .Values.env.MAPGL_KEYSERVER | quote }}
            - name: MAPGL_RTLPLUGIN
              value: {{ .Values.env.MAPGL_RTLPLUGIN | quote }}
            - name: MAPGL_RTLPLUGINHASH
              value: {{ .Values.env.MAPGL_RTLPLUGINHASH | quote }}
            - name: MAPGL_INVALID_KEY_MESSAGE
              value: {{ .Values.env.MAPGL_INVALID_KEY_MESSAGE | quote }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 5
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 5"]
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
