kafka:
  properties:
    bootstrap.servers: kafka-controller-headless:9092
    security.protocol: SASL_PLAINTEXT
    sasl.mechanism: SCRAM-SHA-512
    sasl.plain.username: admin
  sensitiveProperties:
    sasl.plain.password: admin

s3:
  url: http://s3.sandbox
  dm:
    bucket: sandbox-navi-am
    accessKey: {{ .Values.dgctlStorage.accessKey }}
    secretKey: {{ .Values.dgctlStorage.secretKey }}
  vrp:
    bucket: sandbox-navi-vrp
    accessKey: {{ .Values.dgctlStorage.accessKey }}
    secretKey: {{ .Values.dgctlStorage.secretKey }}

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    cpu: 1
    memory: 1Gi
