externalDatabase:
  user: keycloak
  password: 'keycloak' # TODO
  host: 'haproxy' # TODO
  port: 5000 # TODO
  database: keycloak

auth:
  adminUser: admin
  adminPassword: 'adminpass' # TODO

replicaCount: 2

defaultUser:
  enabled: true
  name: 'user'  # TODO
  email: 'user@test.com'  # TODO
  password: 'userpass'  # TODO
  firstName: 'userfirstname'  # TODO
  lastName: 'userlastname'  # TODO
