---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "generic-chart.fullname" . }}-secret-env
data:
  STORAGE__VRP__ACCESS_KEY: {{ required "A valid s3.vrp.accessKey entry required" (.Values.s3.vrp.accessKey | b64enc) }}
  STORAGE__VRP__SECRET_KEY: {{ required "A valid s3.vrp.secretKey entry required" (.Values.s3.vrp.secretKey | b64enc) }}
  STORAGE__DM__ACCESS_KEY: {{ required "A valid s3.dm.accessKey entry required" (.Values.s3.dm.accessKey | b64enc) }}
  STORAGE__DM__SECRET_KEY: {{ required "A valid s3.dm.secretKey entry required" (.Values.s3.dm.secretKey | b64enc) }}
  MOSES__KEY: {{ required "A valid naviFront.key entry required" (.Values.naviFront.key | b64enc) }}
{{- if (
        (or .Values.kafka.sensitiveProperties .Values.kafka.fileProperties) |
        or (or .Values.kafka.consumerOverrides.sensitiveProperties .Values.kafka.consumerOverrides.fileProperties) |
        or (or .Values.kafka.producerOverrides.sensitiveProperties .Values.kafka.producerOverrides.fileProperties)
      ) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-producer" (include "generic-chart.fullname" .) | quote }}
  labels:
    {{- include "generic-chart.labels" . | nindent 4 }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{- $producerSensitiveProperties := deepCopy .Values.kafka.sensitiveProperties | mustMerge ((.Values.kafka.producerOverrides).sensitiveProperties | default dict) -}}
  {{- $producerFileProperties := deepCopy .Values.kafka.fileProperties | mustMerge ((.Values.kafka.producerOverrides).fileProperties | default dict) -}}
  {{- range $prop, $val := merge (deepCopy $producerSensitiveProperties) (deepCopy $producerFileProperties) }}
  {{ $prop | quote }}: {{ $val | b64enc | quote }}
  {{- end }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ printf "%s-consumer" (include "generic-chart.fullname" .) | quote }}
  labels:
    {{- include "generic-chart.labels" . | nindent 4 }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{- $consumerSensitiveProperties := deepCopy .Values.kafka.sensitiveProperties | mustMerge ((.Values.kafka.consumerOverrides).sensitiveProperties | default dict) -}}
  {{- $consumerFileProperties := deepCopy .Values.kafka.fileProperties | mustMerge ((.Values.kafka.consumerOverrides).fileProperties | default dict) -}}
  {{- range $prop, $val := merge (deepCopy $consumerSensitiveProperties) (deepCopy $consumerFileProperties) }}
  {{ $prop | quote }}: {{ $val | b64enc | quote }}
  {{- end }}
{{- end }}
