navigroup: navi

router:
  logLevel: Warning
  castleHost: navi-castle
  keyManagementService:
    enabled: true
    host: http://keys-api/service/v1/keys

replicaCount: 2

resources:
  limits:
    cpu: 2000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 128Mi
