.project_list: &projects
{{- if .Values.customProjectNavi }}
  - moscow
{{ else }}
{{ readFile "../values/cities.yaml" }}
{{ end }}

# rules используется чтобы ограничить кол-во загружаемых проектов
rules:
- name: &name_rule dma
  moses_projects: *projects 
  router_projects: *projects
  queries: ["routing"]
  routing: ["driving"]

naviback:
  app_rule: *name_rule
