controller:
  replicaCount: 3
  persistence:
    storageClass: standard
    size: 5Gi
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1024Mi

kraft:
  enabled: true
