---

global:
  security:
    allowInsecureImages: true

image:
  repository: bitnamilegacy/cassandra

dbUser:
  user: 'cassandra'
  password: 'cassandra'
  forcePassword: true

resources:
  requests:
    cpu: 500m
    memory: 2700Mi
  limits:
    cpu: 2
    memory: 4Gi

persistence:
  storageClass: standard
  size: 30Gi

readinessProbe:
  initialDelaySeconds: 120

cluster:
  seedCount: 1
replicaCount: 1

initDBConfigMap: ""
