apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "keys.import.name" . }}
  labels:
    {{- include "keys.import.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "10"
spec:
  backoffLimit: 0
  template:
    metadata:
      name: {{ include "keys.import.name" . }}
      labels:
        {{- include "keys.import.labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      {{- with include "keys.psql.initTLS" . }}
      initContainers:
      {{- . | nindent 8 }}
      {{- end }}
      containers:
        - name: migrate
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          command: [ "keysctl", "import" ]
          resources:
            {{- toYaml .Values.import.resources | nindent 12 }}
          env:
            {{- include "keys.env.import" . | nindent 12 }}
            {{- include "keys.env.db.jobs" . | nindent 12 }}
            {{- include "keys.env.predef" . | nindent 12 }}
            {{- include "keys.env.dgctlStorage" . | nindent 12 }}
            {{- if .Values.customCAs.bundle }}
            {{- include "keys.env.custom.ca.path" . | nindent 12 }}
            {{- end }}
          volumeMounts:
          {{- if .Values.customCAs.bundle }}
          {{- include "keys.custom.ca.volumeMounts" . | nindent 12 }}
          {{- end }}
          {{- include "keys.psql.volumeMount" . | nindent 12 }}
      volumes:
      {{- if .Values.customCAs.bundle }}
      {{- include "keys.custom.ca.jobs.volumes" . | nindent 8 }}
      {{- end }}
      {{- include "keys.psql.volume" . | nindent 8 }}
      {{- with .Values.import.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.import.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
