env:
  MAPGL_DEFAULT_CENTER: "0, 0" # TODO: "lon, lat", e.g. "37.617, 55.755"
  SSO_CLIENT_ID: platform # TODO
  SSO_CLIENT_SECRET: secret # TODO
  SSO_SCOPE: openid email name phone # TODO
  SSO_API_URL: https://{{ .Values.keycloakIngress }}/realms/Platform # TODO
