---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: navi-castle
    chart: {{ .Values.chartLocation }}/navi-castle
    namespace: {{ .Values.namespace  }}
    version: {{ .Values.versionPlatform }}
    timeout: {{ .Values.timeoutNaviCastle }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: api-platform
      service: castle
    values:
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/api-platform/navi-castle.yaml.gotmpl
{{- $vp1 := printf "%s/values/api-platform/navi-castle/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp1 }}
      - {{ $vp1 }}
{{- end }}
{{- $secretsPath := printf "%s/values/api-platform/navi-castle/%s.secrets.yaml" .Values.valuesPath .Environment.Name -}}
{{- if isFile $secretsPath }}
    secrets:
      - {{ $secretsPath }}
{{- end }}
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPath := printf "%s/hooks/api-platform/navi-castle/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
