---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: {{ .Values.releasePrefix }}navi-async-matrix
    chart: {{ .Values.chartLocation }}/navi-async-matrix
    namespace: {{ .Values.namespace  }}
    version: {{ .Values.versionPlatform }}
    timeout: {{ .Values.timeoutNaviAsyncMatrix }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: api-platform
      service: navi-async-matrix
    values:
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/api-platform/navi-async-matrix.yaml.gotmpl
{{- $dep := printf "%s/values/api-platform/navi-async-matrix/_common.yaml.gotmpl" $.Values.valuesPath -}}
{{- if isFile $dep }}
      - {{ $dep }}
{{- end }}
{{- $vp1 := printf "%s/values/api-platform/navi-async-matrix/%s.yaml.gotmpl" .Values.valuesPath $.Environment.Name -}}
{{- if isFile $vp1 }}
      - {{ $vp1 }}
{{- end }}
{{- $secretsPath := printf "%s/values/api-platform/navi-async-matrix/%s.secrets.yaml" $.Values.valuesPath $.Environment.Name -}}
{{- if isFile $secretsPath }}
    secrets:
      - {{ $secretsPath }}
{{- end }}
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPath := printf "%s/hooks/api-platform/navi-async-matrix/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
