---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: staticmaps
    chart: {{ .Values.chartLocation }}/staticmaps
    version: {{ .Values.versionPlatform }}
    namespace: {{ .Values.namespace }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: api-platform
      service: staticmaps
    values:
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/ingressAnnotations.yaml.gotmpl
      - {{ .Values.valuesPath }}/values/ingressAnnotations/{{ .Environment.Name }}.yaml.gotmpl
      - {{ .Values.basePath }}/values/api-platform/staticmaps.yaml.gotmpl
      - {{ .Values.valuesPath }}/values/api-platform/staticmaps/{{ .Environment.Name }}.yaml.gotmpl
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPath := printf "%s/hooks/api-platform/staticmaps/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
