---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: tiles-api
    chart: {{ .Values.chartLocation }}/tiles-api
    namespace: {{ .Values.namespace  }}
    version: {{ .Values.versionPlatform }}
    timeout: {{ .Values.timeoutTiles }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: api-platform
      service: tiles-multi
    values:
      - {{ .Values.basePath }}/../dgctl/auto_values/api-platform/general.yaml
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/ingressAnnotations.yaml.gotmpl
{{- $vp1 := printf "%s/values/ingressAnnotations/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp1 }}
      - {{ $vp1 }}
{{- end }}
      - {{ .Values.basePath }}/values/api-platform/tiles.yaml.gotmpl
{{- $vp2 := printf "%s/values/api-platform/tiles/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp2 }}
      - {{ $vp2 }}
{{- end }}
      - {{ .Values.basePath }}/values/api-platform/tiles-multi.yaml.gotmpl
{{- $vp3 := printf "%s/values/api-platform/tiles/multi/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp3 }}
      - {{ $vp3 }}
{{- end }}
{{- $secretsPathMulti := printf "%s/values/api-platform/tiles/%s.secrets.yaml" .Values.valuesPath .Environment.Name -}}
{{- if isFile $secretsPathMulti }}
    secrets:
      - {{ $secretsPathMulti }}
{{- end }}
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPathMulti := printf "%s/hooks/api-platform/tiles/multi/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPathMulti }}
{{- readFile $hooksPathMulti | fromYaml | toYaml | nindent 4 }}
{{- end }}

  - name: tiles-api-raster
    chart: {{ .Values.chartLocation }}/tiles-api
    namespace: {{ .Values.namespace  }}
    version: {{ .Values.versionPlatform }}
    timeout: {{ .Values.timeoutTiles }}
    kubeContext: {{ .Values.kubeContext }}
    labels:
      group: api-platform
      service: tiles-raster
    values:
      - {{ .Values.basePath }}/../dgctl/auto_values/api-platform/general.yaml
      - {{ .Values.basePath }}/values/dgctl.yaml.gotmpl
      - {{ .Values.basePath }}/values/ingressAnnotations.yaml.gotmpl
{{- $vp4 := printf "%s/values/ingressAnnotations/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp4 }}
      - {{ $vp4 }}
{{- end }}
      - {{ .Values.basePath }}/values/api-platform/tiles.yaml.gotmpl
{{- $vp5 := printf "%s/values/api-platform/tiles/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp5 }}
      - {{ $vp5 }}
{{- end }}
      - {{ .Values.basePath }}/values/api-platform/tiles-raster.yaml.gotmpl
{{- $vp6 := printf "%s/values/api-platform/tiles/raster/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp6 }}
      - {{ $vp6 }}
{{- end }}
{{- $secretsPathRaster := printf "%s/values/api-platform/tiles/%s.secrets.yaml" .Values.valuesPath .Environment.Name -}}
{{- if isFile $secretsPathRaster }}
    secrets:
      - {{ $secretsPathRaster }}
{{- end }}
    hooks:
    - events: ["postsync"]
      showlogs: true
      command: "bash"
      args:
        - "{{ .Values.basePath }}/../scripts/k8s-show-logs.sh"
        - "{{ .Values.kubeContext }}"
        - "{{ .Values.namespace }}"
        - "{{`{{ .Release.Name }}`}}"
        - '{{`{{ if .Event.Error }}failure{{ end }}`}}'
{{- $hooksPathRaster := printf "%s/hooks/api-platform/tiles/raster/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPathRaster }}
{{- readFile $hooksPathRaster | fromYaml | toYaml | nindent 4 }}
{{- end }}
