layers-refresh-period-minutes: 5
layers-ald-refresh-period-minutes: 5
metrics-refresh-period-minutes: 5
graceful-shutdown-time: 5s
{{- if $.Values.api.uiWhitelist }}
ui-whitelist: {{ $.Values.api.uiWhitelist }}
{{- end }}

cassandra-tls:
  enabled: {{ $.Values.cassandra.tls.enabled }}
  enable-host-verification: {{ $.Values.cassandra.tls.enableHostVerification }}
{{- if $.Values.cassandra.tls.deploySecret }}
{{- if $.Values.cassandra.tls.ca }}
  ca-path: /tls/ca.crt
{{- end }}
{{- if $.Values.cassandra.tls.cert }}
  cert-path: /tls/client.crt
{{- end }}
{{- if $.Values.cassandra.tls.key }}
  key-path: /tls/client.key
{{- end }}
{{- end }}
{{- if $.Values.cassandra.tls.existingSecret.name }}
{{- if $.Values.cassandra.tls.existingSecret.caFileName }}
  ca-path: /tls/{{ $.Values.cassandra.tls.existingSecret.caFileName }}
{{- end }}
{{- if $.Values.cassandra.tls.existingSecret.clientCertFileName }}
  cert-path: /tls/{{ $.Values.cassandra.tls.existingSecret.clientCertFileName }}
{{- end }}
{{- if $.Values.cassandra.tls.existingSecret.clientKeyFileName }}
  key-path: /tls/{{ $.Values.cassandra.tls.existingSecret.clientKeyFileName }}
{{- end }}
{{- end }}

cassandra-clusters:
  - name: kubernetes
    {{- with $.Values.api.cqlRetryPolicy }}
    retry-policy:
      retry-count: {{ .retryCount }}
      min-delay: {{ .minDelay }}
      max-delay: {{ .maxDelay }}
    {{- end }}
    reconnect-interval: 30s

    keyspaces:
      {{- $default := true }}
      {{- range $_, $type := $.Values.types }}
      - tileset: {{ $type.name | default (include "tiles.kind" $type) }}
        keyspace: {{ include "tiles.keyspace" (merge $type $) }}
        type: {{ include "tiles.type" $type }}
        {{- if and $default (not $type.subtype) }}
        default: {{ $default }}
        {{- $default = false }}
        {{- end }}
        partition-size: 4
      {{- end }}

      {{- if $.Values.tilegen.enabled }}
      {{- with $.Values.tilegen.tileset }}
      - tileset: {{ .name }}
        keyspace: {{ .keyspace }}
        type: ald_v3
        partition-size: 4
      {{- end }}
      {{- end }}

    {{- with .Values.cassandra }}
    hosts:
       {{- toYaml .hosts | nindent 8 }}

    timeout: {{ .timeout }}
    replication-factor: {{ .replicaFactor }}

    consistency-level-read: {{ .consistencyLevelRead }}
    consistency-level-write: {{ .consistencyLevelWrite }}
    {{- end }}

license:
  {{- if $.Values.license.enable }}
  enable: {{ $.Values.license.enable }}
  {{- end }}
  service-host: {{ required "Valid .Values.license.url required!" .Values.license.url }}
  retry-period: {{ .Values.license.retryPeriod }}
  warn-text: |
      {{- .Values.warningText | replace "\\n" "\n" | trim | nindent 6 }}
  err-text: |
      {{- .Values.errorText | replace "\\n" "\n" | trim | nindent 6 }}
  sales-manager: {{ .Values.emailManager }}

log-level: {{ .Values.api.logLevelOverride | default .Values.logLevel | default "info" }}
log-format: {{ .Values.api.logFormatOverride | default .Values.logFormat | default "json" }}
