{{ if .Values.tasks.settings.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pro-api.tasks-name" . }}
  {{- with .Values.tasks.pod.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "pro-api.tasksApiLabels" . | nindent 4 }}
  {{- with .Values.tasks.pod.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.tasks.pod.apiReplicaCount }}
  revisionHistoryLimit: {{ .Values.tasks.pod.revisionHistoryLimit }}
  {{- if .Values.tasks.pod.strategy }}
  strategy:
    {{- toYaml .Values.tasks.pod.strategy | nindent 4 }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "pro-api.tasksApiSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secrets.yaml") . | sha256sum }}
      {{- with .Values.tasks.pod.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "pro-api.tasksApiLabels" . | nindent 8 }}
      {{- with .Values.tasks.pod.podLabels }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tasks.pod.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tasks.pod.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tasks.pod.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.tasks.pod.priorityClassName }}
      priorityClassName: {{ .Values.tasks.pod.priorityClassName }}
      {{- end }}
      {{- with .Values.tasks.pod.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.tasks.pod.terminationGracePeriodSeconds }}
      serviceAccountName: {{ include "pro-api.service-account-name" . }}
      volumes:
        - name: temp-volume
          emptyDir: {}
      containers:
        - name: {{ include "pro-api.tasks-name" . }}
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" $.Values.dgctlDockerRegistry }}/{{ .Values.tasks.image.repository }}:{{ .Values.tasks.image.tag }}
          imagePullPolicy: {{ .Values.tasks.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.tasks.settings.httpPort }}
              protocol: TCP
            - name: grpc
              containerPort: {{ .Values.tasks.settings.grpcPort }}
              protocol: TCP
          volumeMounts:
            - mountPath: {{ .Values.tasks.settings.tempPath | quote }}
              name: temp-volume
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            failureThreshold: 5
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
            timeoutSeconds: 5
          startupProbe:
            httpGet:
              path: /health/live
              port: http
            failureThreshold: 20
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 5
          resources:
            {{- toYaml .Values.tasks.pod.resources | nindent 12 }}
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 5"]
          env:
            - name: ENV
              value: {{ .Values.tasks.settings.env | quote }}
            - name: TEMP_PATH
              value: {{ .Values.tasks.settings.tempPath | quote }}
            - name: Postgres__ConnectionString
              value: {{ include "pro-tasks.connectionString" . }}
            - name: Postgres__ConnectionStringReadonly
              value: {{ include "pro-tasks.connectionStringReadOnly" . }}
            - name: Postgres__Password
              valueFrom:
                secretKeyRef:
                  key: tasksDbConnectionPwd
                  name: {{ include "pro-api.name" . }}-secret
            {{- if .Values.postgres.tasks.ro.password }}
            - name: Postgres__PasswordRo
              valueFrom:
                secretKeyRef:
                  key: tasksDbConnectionPwdRo
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}
            - name: FeatureManagement__AssetDataPreparation
              value: {{ $.Values.tasks.settings.features.assetDataPreparation.enabled | quote }}
            - name: FeatureManagement__AuditLogging
              value: {{ $.Values.tasks.settings.features.auditLogging.enabled | quote }}
            - name: FeatureManagement__CleanCitylensFrames
              value: {{ $.Values.tasks.settings.features.cleanCitylensFrames.enabled | quote }}
            - name: FeatureManagement__RemoveUnusedUserAssetFiles
              value: {{ $.Values.tasks.settings.features.removeUnusedUserAssetFiles.enabled | quote }}
            - name: FeatureManagement__EmailNotifications
              value: {{ $.Values.tasks.settings.features.emailNotifications.enabled | quote }}
            - name: FeatureManagement__UserManagement
              value: {{ $.Values.tasks.settings.features.userManagement.enabled | quote }}
            - name: FeatureManagement__RemoveExpiredSmbDashboards
              value: {{ $.Values.tasks.settings.features.removeExpiredSmbDashboards.enabled | quote }}

            - name: Common__Logging__Format
              value: {{ .Values.tasks.settings.logging.format | quote }}
            - name: Kafka__BootstrapServers
              value: {{ $.Values.kafka.bootstrapServers }}
            - name: Kafka__SecurityProtocol
              value: {{ $.Values.kafka.securityProtocol }}
            - name: Kafka__SaslMechanism
              value: {{ $.Values.kafka.sasl.mechanism }}
            - name: Kafka__SaslUsername
              value: {{ $.Values.kafka.sasl.username }}
            {{- if .Values.kafka.sasl.password }}
            - name: Kafka__SaslPassword
              valueFrom:
                secretKeyRef:
                  key: kafkaSaslPassword
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}
            - name: Kafka__EventsTopicSettings__Name
              value: {{ required "A valid .Values.kafka.eventsTopic.name entry required" $.Values.kafka.eventsTopic.name }}
            - name: Kafka__EventsTopicSettings__ReaderGroupId
              value: {{ required "A valid .Values.kafka.eventsTopic.readerGroupId entry required" $.Values.kafka.eventsTopic.readerGroupId }}
            - name: Kafka__UseReplicaTopics
              value: {{ $.Values.kafka.useReplicaTopics | quote }}
            - name: Common__Mode
              value: "Api"
            - name: Common__HttpPort
              value: {{ .Values.tasks.settings.httpPort | quote }}
            - name: Common__GrpcPort
              value: {{ .Values.tasks.settings.grpcPort | quote }}
            - name: Common__DataCenterId
              value: {{ .Values.api.settings.dataCenterId | quote }}
            {{- if .Values.tasks.settings.features.assetDataPreparation.enabled }}
            - name: AssetDataPreparation__Segments
              value: {{ .Values.tasks.settings.features.assetDataPreparation.segments | quote }}
            {{- end }}

            - name: Admin__Auth__Schema
              value: {{ .Values.tasks.settings.admin.auth.schema | quote }}
            {{- if .Values.tasks.settings.admin.auth.basic.username }}
            - name: Admin__Auth__Basic__Username
              value: {{ .Values.tasks.settings.admin.auth.basic.username | quote }}
            {{- end }}
            {{- if eq .Values.tasks.settings.admin.auth.schema "Basic"}}
            - name: Admin__Auth__Basic__Password
              valueFrom:
                secretKeyRef:
                  key: tasksAdminAuthBasicPassword
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}
            {{- if .Values.tasks.settings.admin.auth.oidc.authority }}
            - name: Admin__Auth__Oidc__Authority
              value: {{ .Values.tasks.settings.admin.auth.oidc.authority | quote }}
            {{- end }}
            {{- if .Values.tasks.settings.admin.auth.oidc.clientId }}
            - name: Admin__Auth__Oidc__ClientId
              value: {{ .Values.tasks.settings.admin.auth.oidc.clientId | quote }}
            {{- end }}
            {{- if .Values.tasks.settings.admin.auth.oidc.clientSecret }}
            - name: Admin__Auth__Oidc__ClientSecret
              valueFrom:
                secretKeyRef:
                  key: tasksAdminAuthOidcClientSecret
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}
            {{- if .Values.tasks.settings.admin.auth.oidc.nameClaim }}
            - name: Admin__Auth__Oidc__NameClaim
              value: {{ .Values.tasks.settings.admin.auth.oidc.nameClaim | quote }}
            {{- end }}
            {{- if .Values.tasks.settings.admin.auth.oidc.roleClaim }}
            - name: Admin__Auth__Oidc__RoleClaim
              value: {{ .Values.tasks.settings.admin.auth.oidc.roleClaim | quote }}
            {{- end }}
            {{- if .Values.tasks.settings.admin.auth.oidc.requiredRole }}
            - name: Admin__Auth__Oidc__RequiredRole
              value: {{ .Values.tasks.settings.admin.auth.oidc.requiredRole | quote }}
            {{- end }}

            - name: Redis__Host
              value: {{ required "A valid .Values.redis.host entry required" $.Values.redis.host }}
            - name: Redis__Port
              value: {{ .Values.redis.port | quote }}
            - name: Redis__Username
              value: {{ $.Values.redis.username }}
            {{- if .Values.redis.password }}
            - name: Redis__Password
              valueFrom:
                secretKeyRef:
                  key: redisPassword
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}

            {{- if .Values.pagerenderer.settings.enabled }}
            - name: PageRendererApi__Url
              value: http://{{ include "pro-api.pagerenderer-name" . }}:{{ .Values.pagerenderer.settings.grpcPort }}
            - name: PageRendererApi__ApiKey
              valueFrom:
                secretKeyRef:
                  key: pagerendererApiKey
                  name: {{ include "pro-api.name" . }}-secret
            {{- end }}
{{- end }}
