{{- if .Values.importer.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "twins.importer.name" . }}
  labels:
    {{- include "twins.importer.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "10"
spec:
  backoffLimit: 0
  template:
    metadata:
      name: {{ include "twins.importer.name" . }}
      labels:
        {{- include "twins.importer.labels" . | nindent 8 }}
    spec:
      restartPolicy: Never
      {{- if .Values.importer.initialDelaySeconds }}
      initContainers:
        - name: delay
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          command: [ "sh", "-c", "sleep {{ .Values.importer.initialDelaySeconds }}" ]
          resources:
            {{- toYaml .Values.importer.resources | nindent 12 }}
      {{- end }}
      containers:
        - name: importer
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          command: [ "twins", "ctl", "import" ]
          resources:
            {{- toYaml .Values.importer.resources | nindent 12 }}
          env:
            {{- include "twins.env.importer" . | nindent 12 }}
            {{- if .Values.customCAs.bundle }}
            {{- include "twins.env.custom.ca.path" . | nindent 12 }}
            {{- end }}
          {{- if or .Values.importer.persistentVolume.enabled .Values.customCAs.bundle }}
          volumeMounts:
            {{- if .Values.importer.persistentVolume.enabled }}
            - name: {{ include "twins.importer.name" . }}-pv
              mountPath: "/tmp"
            {{- end }}
            {{- if .Values.customCAs.bundle }}
            {{- include "twins.custom.ca.volumeMounts" . | nindent 12 }}
            {{- end }}
          {{- end }}
      {{- if or .Values.importer.persistentVolume.enabled .Values.customCAs.bundle }}
      volumes:
      {{- if .Values.importer.persistentVolume.enabled }}
        - name: {{ include "twins.importer.name" . }}-pv
          persistentVolumeClaim:
            claimName: {{ include "twins.importer.name" . }}
      {{- end }}
      {{- if .Values.customCAs.bundle }}
      {{- include "twins.custom.ca.jobs.volumes" . | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- with .Values.importer.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
