# @section Docker Registry settings

# @param dgctlDockerRegistry Docker Registry endpoint where On-Premise services' images reside. Format: `host:port`.

dgctlDockerRegistry: ''


# @section Common settings

# @param enableServiceLinks Services injection into containers environment [Accessing the Service](https://kubernetes.io/docs/tutorials/services/connect-applications-service/#accessing-the-service)
# @param replicaCount A replica count for the pod.
# @param revisionHistoryLimit Revision history limit (used for [rolling back](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/) a deployment).
# @param imagePullSecrets Kubernetes image pull secrets.
# @param nameOverride Base name to use in all the Kubernetes entities deployed by this chart.
# @param fullnameOverride Base fullname to use in all the Kubernetes entities deployed by this chart.
# @param podAnnotations Kubernetes [pod annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/).
# @param podSecurityContext Kubernetes [pod security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/).
# @param securityContext Kubernetes [security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/).
# @param nodeSelector Kubernetes [node selectors](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector).
# @param tolerations Kubernetes [tolerations](https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/) settings.
# @param affinity Kubernetes pod [affinity settings](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity).
# @param sidecars List of additional sidecar containers
# Example:
# sidecars:
#   - name: your-image-name
#     image: your-image
#     imagePullPolicy: Always
#
# @param livenessProbe.enabled Enable livenessProbe
# @param livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
# @param livenessProbe.periodSeconds Period seconds for livenessProbe
# @param livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
# @param livenessProbe.failureThreshold Failure threshold for livenessProbe
# @param livenessProbe.successThreshold Success threshold for livenessProbe
# @param readinessProbe.enabled Enable readinessProbe
# @param readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
# @param readinessProbe.periodSeconds Period seconds for readinessProbe
# @param readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
# @param readinessProbe.failureThreshold Failure threshold for readinessProbe
# @param readinessProbe.successThreshold Success threshold for readinessProbe
# @param customLivenessProbe Override default liveness probe
# @param customReadinessProbe Override default readiness probe

enableServiceLinks: false
replicaCount: 1
revisionHistoryLimit: 3
imagePullSecrets: []
nameOverride: ''
fullnameOverride: ''
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
tolerations: []
affinity: {}
sidecars: []

livenessProbe:
  enabled: true
  initialDelaySeconds: 0
  timeoutSeconds: 1
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 3
readinessProbe:
  enabled: true
  initialDelaySeconds: 0
  timeoutSeconds: 1
  periodSeconds: 10
  successThreshold: 1
  failureThreshold: 3
customLivenessProbe: {}
customReadinessProbe: {}

# @section Deployment settings

# @param image.repository Repository
# @param image.tag Tag
# @param image.pullPolicy Pull Policy

image:
  repository: 2gis-on-premise/navi-front
  pullPolicy: IfNotPresent
  tag: 1.26.0


# @section Navi-Front service settings

# @param front.port Navi-Front service HTTP port
# @param front.router.discover Enable/disable router autodiscovery
# @param front.router.host Set router address if autodiscovery is disabled
# @extra front.router.backupPorts [nullable] Support for backup ports on router
# @param front.router.backupPorts.base Backup router ports start with `base` and assignd sequentially up
# @param front.router.backupPorts.number Number of backup router ports
# @param front.router.keepalive Allows router upstream overrides to front.keepalive settings
# @extra front.router.proxy [nullable] Settings for router proxy rule
# @param front.router.proxy.nextUpstreamTimeout nginx [proxy_next_upstream_timeout](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream_timeout)
# @param front.router.proxy.connectTimeout nginx [proxy_connect_timeout](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_connect_timeout)
# @param front.router.proxy.readTimeout nginx [proxy_read_timeout](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_read_timeout)
# @param front.router.proxy.sendTimeout nginx [proxy_send_timeout](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_send_timeout)
# @param front.router.proxy.nextUpstream nginx [proxy_next_upstream](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_next_upstream)
# @param front.tsp_carrouting.enabled Enable/disable carrouting TSP
# @param front.tsp_carrouting.host Set carrouting TSP hostname
# @param front.multimod.enabled Add multimodal routing service location
# @param front.multimod.host Multimodal routing service hostname
# @param front.keepalive.enabled Enable keepalive (for upstreams)
# @param front.keepalive.connections Maximum number of idle keepalive connections (per upstream)
# @param front.keepalive.requests Maximum number of requests that can be served through one keepalive connection
# @param front.keepalive.time Maximum time for one keepalive connection
# @param front.keepalive.timeout Timeout for idle keepalive connection
# @param front.locationExtraProxyHeaders Additional headers to pass to backend `locationExtraProxyHeaders: { header1: value1, header2: 'value 2'}`
# @param navigroup Service group identifier, allows multiple stacks deployed to the same namespace.

front:
  port: 8080
  router:
    discover: true
    host: localhost
    backupPorts:
      base: 50000
      number: 0
    keepalive: {}
    proxy:
      nextUpstreamTimeout: 750ms
      connectTimeout: 100ms
      readTimeout: 500ms
      sendTimeout: 500ms
      nextUpstream: error timeout non_idempotent http_502 http_504
  tsp_carrouting:
    enabled: false
    host: ''
  multimod:
    enabled: false
    host: ''
  keepalive:
    enabled: false
    connections: 50
    requests: 100
    time: 1h
    timeout: 60s
  locationExtraProxyHeaders: {}

navigroup: ''


# @section Service account settings

# @param serviceAccount.create Specifies whether a service account should be created.
# @param serviceAccount.annotations Annotations to add to the service account.
# @param serviceAccount.name The name of the service account to use. If not set and create is true, a name is generated using the fullname template.

serviceAccount:
  create: false
  annotations: {}
  name: ''


# @section Service settings

# @param service.type Kubernetes [service type](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types).
# @param service.port Service port.

service:
  type: ClusterIP
  port: 80


# @section Kubernetes [Ingress](https://kubernetes.io/docs/concepts/services-networking/ingress/) settings

# @param ingress.enabled If Ingress is enabled for the service.
# @param ingress.className Name of the Ingress controller class.
# @param ingress.hosts[0].host Hostname for the Ingress service.
# @param ingress.hosts[0].paths[0].path Path of the host for the Ingress service.
# @param ingress.hosts[0].paths[0].pathType Type of the path for the Ingress service.
# @param ingress.tls TLS configuration

ingress:
  enabled: false
  className: nginx
  hosts:
  - host: navi-front.example.com
    paths:
    - path: /
      pathType: Prefix
  tls: []
  # - hosts:
  #   - navi-front.example.com
  #   secretName: secret.tls


# @section Limits

# @param resources [nullable] Container resources requirements structure.
# @param resources.requests.cpu [nullable] CPU request, recommended value `100m`.
# @param resources.requests.memory [nullable] Memory request, recommended value `128Mi`.
# @param resources.limits.cpu [nullable] CPU limit, recommended value `1000m`.
# @param resources.limits.memory [nullable] Memory limit, recommended value `1Gi`.

resources: {}


# @section Kubernetes [Horizontal Pod Autoscaling](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/) settings

# @param hpa.enabled If HPA is enabled for the service.
# @param hpa.minReplicas Lower limit for the number of replicas to which the autoscaler can scale down.
# @param hpa.maxReplicas Upper limit for the number of replicas to which the autoscaler can scale up.
# @param hpa.targetCPUUtilizationPercentage Target average CPU utilization (represented as a percentage of requested CPU) over all the pods; if not specified the default autoscaling policy will be used.
# @param hpa.targetMemoryUtilizationPercentage Target average memory utilization (represented as a percentage of requested memory) over all the pods; if not specified the default autoscaling policy will be used.
# @param hpa.scaleUp To configure separate scale-up [policy](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#scaling-policies)
# @param hpa.scaleDown To configure separate scale-down [policy](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#scaling-policies)

hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: ''
  scaleUp: {}
  scaleDown: {}


# @section Kubernetes [Pod Disruption Budget](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#pod-disruption-budgets) settings

# @param pdb.enabled If PDB is enabled for the service.
# @param pdb.minAvailable How many pods must be available after the eviction.
# @param pdb.maxUnavailable How many pods can be unavailable after the eviction.

pdb:
  enabled: false
  minAvailable: ''
  maxUnavailable: 1


# @section Nginx container

# @param nginx.customConfigPath Path to custom nginx config file. If set, default config will be ignored.
# @param nginx.setRealIpFrom Defines trusted addresses that are known to send correct replacement addresses
# @param nginx.opentracing.enabled If opentracing enabled for nginx requests
# @param nginx.opentracing.serviceName Service name sent to jaeger
# @param nginx.opentracing.host Jaeger agent host. If empty than used status.hostIP
# @param nginx.opentracing.port Jaeger agent port
# @param nginx.opentracing.samplerType Sampler type: const, probabilistic, ratelimiting, remote. [Doc](https://www.jaegertracing.io/docs/1.56/sampling/#client-sampling-configuration)
# @param nginx.opentracing.samplerParam Sampler parameter
# @extra nginx.opentracing.tags Sets tags for span
# @skip nginx.opentracing.tags.app
# @param nginx.hideBackendHostname Do not pass X-Back-Hostname header from navi-back to client
# @extra nginx.protectInternalLocations
# @param nginx.protectInternalLocations.allowedNetworks CIDR blocks to allow access to internal locations from. For debug purposes only

nginx:
  customConfigPath: ''
  setRealIpFrom: 127.0.0.1
  opentracing:
    enabled: false
    serviceName: navi-front
    host: ''
    port: 6831
    samplerType: const
    samplerParam: 1
    tags:
      app: navi-front
  hideBackendHostname: true
  protectInternalLocations:
    allowedNetworks: []


# @section Location overrides

# @param locationBlock Optional nginx config block with additional locations
# @param carroutingLocation Override for default /carrouting
# @param distMatrixCtxLocation Override for default /get_dist_matrix_ctx
# @param hullLocation Override for default /get_hull
# @param multimodLocation Override for default /ctx_multi_mod and /find_platforms if enabled with `front.multimod.enabled`

locationBlock: ''
carroutingLocation: ''
distMatrixCtxLocation: ''
hullLocation: ''
multimodLocation: ''
