api:
  resources:
    limits:
      cpu: 6
      memory: 8000Mi
    requests:
      cpu: 500m
      memory: 4000Mi
  replicas: 1
  postgres: &postgres
    host: 'haproxy' # TODO
    port: 5000 # TODO
    username: catalog
    password: 'pass' # TODO
    name: catalog
    poolSize:
      api: 20
    queryTimeout: 10

importer:
  postgres:
    <<: *postgres
  cleaner:
    enabled: true
    versionLimit: 3
  emptyDir:
    enabled: true
    medium: ''
    sizeLimit: 10Gi

keys:
  token: 'example-keys-token-123456789' # TODO
