apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "generic-chart.fullname" . }}-base
data:
  front.conf: |-
  {{- if .Values.nginx.opentracing.enabled }}
    opentracing_load_tracer /usr/local/lib/libjaegertracing_plugin.so {{ include "nginx.jaegerConfigPath" . }};
    opentracing on;
    {{- range $key, $value := .Values.nginx.opentracing.tags }}
    opentracing_tag {{ $key }} {{ $value }};
    {{- end }}
  {{- end }}

    js_import /etc/nginx/bundle.js;

    {{- if .Values.front.tsp_carrouting.enabled }}
    upstream {{ .Values.front.tsp_carrouting.host }} {
        server {{ .Values.front.tsp_carrouting.host }};
        {{- if .Values.front.keepalive.enabled }}
        keepalive {{ .Values.front.keepalive.connections }};
        keepalive_requests {{ .Values.front.keepalive.requests }};
        keepalive_time {{ .Values.front.keepalive.time }};
        keepalive_timeout {{ .Values.front.keepalive.timeout }};
        {{- end }}
    }
    {{- end }}

    js_var $key_visibility "none";

    {{- if .Values.front.multimod.enabled }}
    js_var $multi_region_id "none";
    js_var $multi_mod_ctx "none";
    js_var $multi_mod_taxi "none";

    # map router's rule name to the actual CTX upstream
    map $multi_mod_ctx $multi_mod_ctx_upstream {
        {{- include "front.mapUpstreams" . | nindent 8 }}
    }

    # map router's rule name to the actual TAXI upstream
    map $multi_mod_taxi $multi_mod_taxi_upstream {
        {{- include "front.mapUpstreams" . | nindent 8 }}
    }

    upstream {{ .Values.front.multimod.host }} {
        server {{ .Values.front.multimod.host }};
        {{- if .Values.front.keepalive.enabled }}
        keepalive {{ .Values.front.keepalive.connections }};
        keepalive_requests {{ .Values.front.keepalive.requests }};
        keepalive_time {{ .Values.front.keepalive.time }};
        keepalive_timeout {{ .Values.front.keepalive.timeout }};
        {{- end }}
    }
    {{- end }}

    {{ include "front.createUpstreams" . | nindent 4 }}

    upstream router_{{ ternary (include "front.createRouterUpstream" .) .Values.front.router.host .Values.front.router.discover }} {
        server {{ ternary (include "front.createRouterUpstream" .) .Values.front.router.host .Values.front.router.discover }} max_fails=0;
        {{- range (.Values.front.router.backupPorts.number | int | until) }}
        server {{ ternary (include "front.createRouterUpstream" $) $.Values.front.router.host $.Values.front.router.discover }}:{{ . | add $.Values.front.router.backupPorts.base }} max_fails=0;
        {{- end }}{{- /* range */}}
        {{- $routerKeepalive := deepCopy .Values.front.keepalive | merge .Values.front.router.keepalive }}
        {{- if $routerKeepalive.enabled }}
        keepalive {{ $routerKeepalive.connections }};
        keepalive_requests {{ $routerKeepalive.requests }};
        keepalive_time {{ $routerKeepalive.time }};
        keepalive_timeout {{ $routerKeepalive.timeout }};
        {{- end }}
    }

    {{- if .Values.serverBlock }}
    {{ printf "include %s/conf.d/extra/server-block.conf;" ( include "nginx.customConfigPath" .) }}
    {{- end }}

    server {
        listen                      {{ .Values.front.port }};
        server_name                 _;

        real_ip_header X-Forwarded-For;
        set_real_ip_from {{ .Values.nginx.setRealIpFrom }};

        {{- if .Values.nginx.hideBackendHostname }}
        proxy_hide_header X-Back-Hostname;
        {{- end }}

        location /favicon.ico {
            log_not_found           off;
            access_log              off;
        }

        {{- if .Values.carroutingLocation }}
        {{ include "tplvalues.render" ( dict "value" .Values.carroutingLocation "context" . ) | nindent 8 }}
        {{- else }}
        location ^~ /carrouting {
            js_content bundle.geo_coding;
        }
        {{- end }}

        {{- if .Values.hullLocation }}
        {{ include "tplvalues.render" ( dict "value" .Values.hullLocation "context" . ) | nindent 8 }}
        {{- else }}
        location ^~ /get_hull {
            js_content bundle.geo_coding;
        }
        {{- end }}

        {{- if .Values.locationsBlock }}
        # comes before default locations taking precedence
        {{ printf "include %s/conf.d/extra/locations-block.conf;" ( include "nginx.customConfigPath" .) }}
        {{- end }}

        location ~* ^/get_dist_matrix$ {
            js_content bundle.geo_coding;
        }

        {{- if .Values.distMatrixCtxLocation }}
        {{ include "tplvalues.render" ( dict "value" .Values.distMatrixCtxLocation "context" . ) | nindent 8 }}
        {{- else }}
        location ~* ^/get_dist_matrix_ctx$ {
            js_content bundle.geo_coding;
        }
        {{- end }}

        location ~* ^/pedestrian {
            js_content bundle.geo_coding;
        }

        location ~* ^/bicycle {
            js_content bundle.geo_coding;
        }

        location ~* ^/public_transport {
            js_content bundle.geo_coding;
        }

        location ~* ^/routing/ {
            js_content bundle.geo_coding;
        }

        location ~* ^/map_matching/ {
            js_content bundle.geo_coding;
        }

        location ~* ^/get_pairs/ {
            js_content bundle.geo_coding;
        }

        location ~* ^/truck/ {
            js_content bundle.geo_coding;
        }

        location ~* ^/free_roam {
            gzip on;
            gzip_vary on;
            gzip_proxied any;
            gzip_comp_level 5;
            gzip_types *;
            js_content bundle.geo_coding;
        }

        {{- if .Values.front.multimod.enabled }}
        {{- if .Values.multimodLocation }}
        {{ include "tplvalues.render" ( dict "value" .Values.multimodLocation "context" . ) | nindent 8 }}
        {{- else }}
        location ~* ^/ctx_multi_mod {
            {{ include "front.getInternalACL" . | nindent 12 }}
            rewrite ^/ctx_multi_mod(.*)$ $1 break;
            add_header X-Region {{ .Values.front.multimod.host }} always;
            proxy_set_header x-key-visibility $key_visibility;
            proxy_set_header X-Multi-Mod-Taxi $multi_mod_taxi_upstream;
            proxy_set_header X-Multi-Mod-Ctx $multi_mod_ctx_upstream;
            proxy_set_header X-Region-Id $multi_region_id;
            {{- range $header, $value := .Values.front.locationExtraProxyHeaders }}
            {{- printf "proxy_set_header %s \"%s\";\n" $header $value | nindent 12 }}
            {{- end }}
            {{- if .Values.front.keepalive.enabled }}
            proxy_set_header Connection "";
            proxy_http_version 1.1;
            {{- end }}
            proxy_pass http://{{ .Values.front.multimod.host }}$uri$is_args$args;
        }
        location /find_platforms {
            js_content bundle.geo_coding;
        }
        {{- end }}
        {{- end }}

{{/*
        Nginx terminates location search after first regex match,
        thus `/ctx` must be after (potential) `/ctx_multi_mod`
*/}}
        location ~* ^/ctx {
            js_content bundle.geo_coding;
        }

        location ~* ^/route_planner  {
            js_content bundle.geo_coding;
        }

        location ~* ^/isochrone  {
            js_content bundle.geo_coding;
        }

        location ~* ^/area_clustering {
            js_content bundle.geo_coding;
        }

        location /geocoding {
            {{ include "front.getInternalACL" . | nindent 12 }}
            proxy_next_upstream_timeout {{ .Values.front.router.proxy.nextUpstreamTimeout }};
            {{- with .Values.front.router.proxy.connectTimeout }}
            proxy_connect_timeout {{ . }};
            {{- end }}{{- /* with .Values.front.router.proxy.connectTimeout */}}
            {{- with .Values.front.router.proxy.readTimeout }}
            proxy_read_timeout {{ . }};
            {{- end }}{{- /* with .Values.front.router.proxy.readTimeout */}}
            {{- with .Values.front.router.proxy.sendTimeout }}
            proxy_send_timeout {{ . }};
            {{- end }}{{- /* with .Values.front.router.proxy.sendTimeout */}}
            rewrite ^/geocoding(.*)$ $1 break;
            {{- if .Values.front.keepalive.enabled }}
            proxy_set_header Connection "";
            proxy_http_version 1.1;
            {{- end }}
            # retries limited by request timeout
            proxy_next_upstream_tries 1024;
            proxy_next_upstream {{ .Values.front.router.proxy.nextUpstream }};
            proxy_pass http://router_{{ ternary (include "front.createRouterUpstream" .) .Values.front.router.host .Values.front.router.discover }};
        }

        location /healthcheck {
            {{- if .Values.nginx.opentracing.enabled }}
            opentracing off;
            {{- end }}
            access_log off;
            return 200 "Ok!";
            add_header 'Content-Type' 'text/plain';
        }

        location ^/$ {
            return 200;
            add_header 'Content-Type' 'text/plain';
        }

        {{ include "front.createLocations" . | nindent 8 }}
    }
