{{- define "front.deployment" }}
spec:
  template:
    metadata:
      annotations:
        checksum/configBase: {{ include (print $.Template.BasePath "/configmap-base.yaml") . | sha256sum }}
        checksum/configExtra: {{ include (print $.Template.BasePath "/configmap-extra.yaml") . | sha256sum }}
    spec:
      volumes:
      - name: {{ include "generic-chart.fullname" . }}-base
        configMap:
          name: {{ include "generic-chart.fullname" . }}-base
      {{- if or .Values.serverBlock .Values.locationsBlock }}
      - name: {{ include "generic-chart.fullname" . }}-extra
        configMap:
          name: {{ include "generic-chart.fullname" . }}-extra
          items:
          {{- if or .Values.serverBlock }}
            - key: server-block.conf
              path: server-block.conf
          {{- end }}
          {{- if or .Values.locationsBlock }}
            - key: locations-block.conf
              path: locations-block.conf
          {{- end }}
      {{- end }}
      {{- if .Values.nginx.customConfigPath }}
      - name: nginx-custom-config-path
        emptyDir: {}
      {{- end }}
      containers:
        - name: {{ include "generic-chart.containerName" . }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: {{ required "A valid .Values.dgctlDockerRegistry entry required" .Values.dgctlDockerRegistry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.nginx.customConfigPath }}
          args:
            - nginx
            - "-c"
            - {{ printf "%s/nginx.conf" ( include "nginx.customConfigPath" .) | quote }}
            - "-g"
            - "daemon off;"
          {{- end }}
          {{- if or .Values.nginx.opentracing.enabled .Values.nginx.customConfigPath }}
          env:
          {{- if .Values.nginx.opentracing.enabled }}
            - name: JAEGER_SERVICE_NAME
              value: {{ .Values.nginx.opentracing.serviceName | quote }}
            - name: JAEGER_SAMPLER_TYPE
              value: {{ .Values.nginx.opentracing.samplerType | quote }}
            - name: JAEGER_SAMPLER_PARAM
              value: {{ .Values.nginx.opentracing.samplerParam | quote }}
            - name: JAEGER_AGENT_PORT
              value: {{ .Values.nginx.opentracing.port | quote }}
            - name: JAEGER_AGENT_HOST
              {{- if .Values.nginx.opentracing.host }}
              value: {{ .Values.nginx.opentracing.host | quote }}
              {{- else }}
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
              {{- end }}
          {{- end }}
          {{- if .Values.nginx.customConfigPath }}
            - name: NGINX_CUSTOM_CONFIG_PATH
              value: {{ .Values.nginx.customConfigPath | quote }}
            - name: NGINX_ENVSUBST_OUTPUT_DIR
              value: {{ printf "%s" ( include "nginx.customConfigPath" .) | quote }}
          {{- end }}
          {{- end }} {{/* end of if or .Values.nginx.opentracing.enabled .Values.nginx.customConfigPath */}}
          volumeMounts:
          - name: {{ include "generic-chart.fullname" . }}-base
            mountPath: {{ printf "%s/conf.d/front.conf" ( include "nginx.customConfigPath" .) }}
            subPath: front.conf
          {{- if or .Values.serverBlock .Values.locationsBlock }}
          - name: {{ include "generic-chart.fullname" . }}-extra
            mountPath: {{ printf "%s/conf.d/extra" ( include "nginx.customConfigPath" .) }}
          {{- end }}
          {{- if .Values.nginx.customConfigPath }}
          - name: nginx-custom-config-path
            mountPath: {{ .Values.nginx.customConfigPath }}
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 5; /usr/sbin/nginx -s quit; while killall -0 nginx; do sleep 1; done"]
          livenessProbe:
            {{- if .Values.customLivenessProbe }}
            {{- include "tplvalues.render" (dict "value" .Values.customLivenessProbe "context" $) | nindent 12 }}
            {{- else if .Values.livenessProbe.enabled }}
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            {{- end }}
          readinessProbe:
            {{- if .Values.customReadinessProbe }}
            {{- include "tplvalues.render" (dict "value" .Values.customReadinessProbe "context" $) | nindent 12 }}
            {{- else if .Values.readinessProbe.enabled }}
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- if .Values.sidecars }}
        {{- include "tplvalues.render" ( dict "value" .Values.sidecars "context" $) | nindent 8 }}
        {{- end }}
{{- end }}{{- /* define "front.deployment" */}}
{{- template "generic-chart.merge" (list . "front.deployment" "generic-chart.deployment.tpl") }}
