resources:
  requests:
    cpu: 10m # TODO
    memory: 32Mi # TODO
  limits:
    cpu: 500m # TODO
    memory: 256Mi # TODO

proxy:
  log:
    errorLog:
      level: error # TODO Allowed values: `debug`, `info`, `notice`, `warn`, `error`, `crit`, `alert`, `emerg`.
