postgres:
  host: postgresql
  port: 5432
  user: navi_restrictions
  password: navi_restrictions
  name: navi_restrictions

naviBackHost: http://navi-back-all-car

resources:
  requests:
    cpu: 50m
    memory: 256Mi
  limits:
    cpu: 1
    memory: 1Gi
