---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: clickhouse
    chart: {{ .Values.chartLocationBitnami }}/clickhouse
    version: 9.2.7
    namespace: {{ .Values.namespace  }}
    kubeContext: {{ .Values.kubeContext }}
    atomic: true
    wait: true
    waitForJobs: true
    timeout: 600
    labels:
      group: infra
      service: clickhouse
    values:
      - {{ .Values.basePath }}/values/infra/clickhouse.yaml.gotmpl
      - {{ .Values.valuesPath }}/values/infra/clickhouse/{{ .Environment.Name }}.yaml.gotmpl
    hooks:
{{- $hooksPath := printf "%s/hooks/infra/clickhouse/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
