---
bases:
- {{ env "HELMFILE_BASE" | default (printf "%s/installer/helmfile" (env "PWD")) }}/common.yaml.gotmpl

---
releases:
  - name: kafka
    chart: {{ .Values.chartLocationBitnami }}/kafka
    version: 31.5.0
    namespace: {{ .Values.namespace  }}
    kubeContext: {{ .Values.kubeContext }}
    atomic: true
    wait: true
    waitForJobs: true
    timeout: 600
    labels:
      group: infra
      service: kafka
    values:
      - {{ .Values.basePath }}/values/infra/kafka.yaml.gotmpl
{{- $vp1 := printf "%s/values/infra/kafka/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $vp1 }}
      - {{ $vp1 }}
{{- end }}
{{- $secretsPath := printf "%s/values/infra/kafka/%s.secrets.yaml" .Values.valuesPath .Environment.Name -}}
{{- if isFile $secretsPath }}
    secrets:
      - {{ $secretsPath }}
{{- end }}
    hooks:
{{- $hooksPath := printf "%s/hooks/infra/kafka/%s.yaml.gotmpl" .Values.valuesPath .Environment.Name -}}
{{- if isFile $hooksPath }}
{{- readFile $hooksPath | fromYaml | toYaml | nindent 4 }}
{{- end }}
