{{- if .Values.install.apps -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "keys.redis.name" . }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.redis.port }}
      targetPort: {{ .Values.redis.port }}
  selector:
    {{- include "keys.redis.selectorLabels" . | nindent 4 }}
{{- end }}
