# resources: see chart defaults
# resources:
#   requests:
#     cpu: 10m
#     memory: 32Mi
#   limits:
#     cpu: 500m
#     memory: 256Mi

proxy:
  log:
    errorLog:
      level: error # TODO Allowed values: `debug`, `info`, `notice`, `warn`, `error`, `crit`, `alert`, `emerg`.
